@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
* ::before, ::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p, table, blockquote, address, pre, iframe, form, figure, dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg, img, embed, object, iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button, input, optgroup, select, textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button, [type=button], [type=reset], [type=submit] {
  cursor: pointer;
}

button:disabled, [type=button]:disabled, [type=reset]:disabled, [type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td {
  vertical-align: top;
  padding: 0;
}

th {
  vertical-align: top;
  padding: 0;
  text-align: left;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000;
  font-weight: 700;
}

nav {
  list-style: none;
}

.main {
  width: 80.5%;
  margin-left: 280px;
  height: auto;
}
@media screen and (max-width: 1024px) {
  .main {
    width: 100%;
    margin-left: 0;
    padding-left: 10px;
  }
}

.contents .contents hidden {
  max-width: 1440px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .contents {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}
.side {
  width: 280px;
  height: auto;
}

.side-header {
  position: fixed;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column;
  max-width: 280px;
  height: 100%;
  z-index: 100;
  margin-top: 74px;
}

@media screen and (max-width: 1024px) {
  .side-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1024px;
    height: 102px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 0px;
    z-index: 10;
    margin-top: 0;
  }
}
.header-nav {
  margin-top: 25px;
  transition: all 0.3s;
}

.side-header-logo {
  transition: 0.4s;
}
.side-header-logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .header-nav {
    display: none;
  }
  .side-header-logo {
    margin-top: 10px;
    transition: 0.6s;
    width: 98px;
    height: 59px;
  }
  .side-header-logo:hover {
    opacity: 0.9;
  }
  .side-header-logo img {
    width: 100%;
    height: auto;
  }
}
.header-nav-list {
  font-size: 20px;
  font-weight: 700;
}

.header-nav-main {
  cursor: pointer;
  position: relative;
  width: 100%;
  display: block;
}

.header-nav-main-box {
  position: relative;
}
.header-nav-main-box a {
  display: block;
  padding-top: 24px;
  padding-bottom: 30px;
  border-bottom: 1px solid #B1C6DC;
}
.header-nav-main-box.open .header-nav-main-bar2, .header-nav-main-box.open .header-nav-main-bar4 {
  transform: translateY(0%) rotate(90deg);
}

.header-nav-drop {
  display: none;
  width: 100%;
  background: #fff;
  font-size: 14px;
  padding: 20px 17px;
  border-bottom: 1px solid #B1C6DC;
}
.header-nav-drop a {
  padding: 12px 0;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  display: flex;
}

.header-nav-item {
  margin-top: 9px;
}

.header-nav-main2 {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #B1C6DC;
  padding: 26px 0;
  width: 100%;
  display: block;
}

.header-nav-main-bar {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 44%;
  right: 0px;
  transform: translateY(-50%);
}

.header-nav-main-bar1 {
  position: absolute;
  width: 24px;
  height: 1px;
  top: 50%;
  transition: 0.3s;
  transform: translateY(-50%);
  background: #4282B8;
}

.header-nav-main-bar2 {
  position: absolute;
  width: 1px;
  height: 24px;
  top: 0%;
  right: 50%;
  transition: all 0.3s;
  transform: translateX(-50%);
  transform-origin: center;
  background: #4282B8;
}

.header-nav-main-bar3 {
  position: absolute;
  width: 24px;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
  background: #4282B8;
}

.header-nav-main-bar4 {
  position: absolute;
  width: 1px;
  height: 24px;
  top: 0%;
  right: 50%;
  transform: translateY(0%);
  background: #4282B8;
  transition: all 0.3s;
}

.header-nav-main:hover .header-nav—main-bar1 {
  transition: 0.3s;
  transform: rotate(90deg);
}

.header-nav-drop a:hover {
  opacity: 0.7;
}

.contact {
  position: relative;
}
.contact a {
  padding-left: 40px;
}
.contact::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url(../img/mail-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-top: 24px;
}

/* ドロワーメニュー */
.drawer_nav {
  display: none;
}

@media screen and (max-width: 1024px) {
  .drawer_nav {
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: 0.3s;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    color: #000;
  }
  .drawer_nav.active {
    transform: translateX(0%);
    visibility: visible;
    pointer-events: all;
  }
  .drawer_nav a {
    transition: 0.4s;
    display: block;
    height: inherit;
    align-items: center;
  }
  .drawer_list {
    font-family: "Zen Kaku Gothic New";
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-decoration-skip-ink: none;
    color: #000;
    align-items: center;
    padding-top: 32px;
  }
  .drawer_item {
    list-style: none;
    padding-top: 32px;
    color: #000;
  }
  .drawer_item img {
    width: 24px;
    margin: 0;
    padding: 0;
  }
  .drawer_list span {
    margin-right: 12px;
    box-sizing: border-box;
    width: 24px;
  }
  small {
    font-size: 12px;
    display: block;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
  }
}
.hidden {
  display: none;
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 900;
  display: grid;
  place-content: center;
  opacity: 0; /* 初期状態は透明にする */
  transition: opacity 0.5s ease; /* アニメーションを適用 */
  pointer-events: none; /* 背後のコンテンツにマウスイベントが影響しないようにする */
}

.loading.active {
  display: grid;
  opacity: 1;
  transition: opacity 0.5s ease; /* アニメーションを適用 */
}

/* JS が無効なときのスタイル */
@media (scripting: none) {
  .loading {
    display: none;
  }
  .hidden {
    display: block;
  }
}
.sp_header_menu {
  display: none;
}

.sp_menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .sp_header_menu {
    display: block;
  }
  .sp_header_main {
    display: flex;
  }
  .sp_menu {
    background-color: #4282b8;
    color: #fff;
    width: 56px;
    height: 56px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    transition: all 0.3s;
    align-items: center;
    justify-content: center;
  }
  .sp_menu:hover {
    opacity: 0.7;
  }
  /* ハンバーガーの３本線 */
  .sp_menu span {
    display: block;
    transition: all 0.3s;
    top: 12px;
    left: 25%;
    width: 32px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
  }
  .sp_menu_icon span:nth-of-type(2) {
    margin-top: 12px;
  }
  .sp_menu_icon span:nth-of-type(3) {
    margin-top: 12px;
  }
  /* menuクラスがactiveの時のコード*/
  .sp_menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
  }
  .sp_menu.active span:nth-child(2) {
    opacity: 0;
  }
  .sp_menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }
  .drawer_nav.active {
    display: block;
    opacity: 1;
  }
}
.fv {
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .fv {
    margin-top: 102px;
  }
}
.fv-inner {
  padding-top: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
.fv-inner::before {
  content: "";
  display: block;
  width: 53vw;
  aspect-ratio: 1/1;
  background: #4282B8;
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .fv-inner {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .fv-inner::before {
    display: none;
  }
}
.fv-bg {
  width: 100%;
  height: auto;
  margin: 0;
  object-fit: cover;
  object-position: center;
  position: relative;
}

@media screen and (max-width: 375) {
  .fv-bg {
    max-width: 375px;
    width: 100%;
  }
}
.fv-bg img {
  width: 100%;
  margin: 0;
}

.fv-scrolldown {
  color: #4282B8;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  top: 91.5%;
  left: 1.4%;
}

.fv-scrolldown::after {
  position: absolute;
  content: "";
  top: 21px;
  left: 27px;
  width: 1px;
  height: 108px;
  opacity: 1;
  background: #4282B8;
  animation: fv-scrolldown 1.4s ease-in-out 0s infinite normal none running;
}

.fv-message {
  width: 100%;
  width: 41.6666666667vw;
  position: absolute;
  top: 73%;
  left: 42%;
}

.fv-message-main {
  display: inline-block;
  font-size: 4.4444444444vw;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 13px 14px;
  border-radius: 10px;
  transition: opacity 0.5s;
}

.fv-message-sub {
  width: 100%;
  font-size: 16px;
  font-size: 1.1111111111vw;
  font-weight: 700;
  line-height: 2;
  color: #000;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .fv-message {
    width: 100%;
    width: 58.59375vw;
    position: absolute;
    top: 70%;
    left: 33%;
  }
  .fv-message-main {
    color: #000;
    background-color: #fff;
    padding: 13px 14px;
    border-radius: 10px;
    transition: opacity 0.5s;
  }
  .fv-message-sub {
    line-height: 2;
    color: #000;
    margin-top: 20px;
    position: absolute;
  }
}
@media screen and (max-width: 767px) {
  .fv-message {
    width: 100%;
    width: 93.8722294654vw;
    position: absolute;
    top: 70%;
    left: 3%;
  }
  .fv-message-main {
    padding: 20px 10px;
  }
  .fv-message-sub {
    font-size: 12px;
    margin-top: 20px;
    width: 100%;
  }
}
@keyframes fadeーup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.js-trigger-up .fade-up {
  animation-fill-mode: forwards;
  animation-name: fade-up;
}

/* 写真無限スライダー */
.slider {
  width: 100%;
  margin-top: 76px;
  background-color: #f8f8f8;
  height: 486px;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 48px;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1160px;
}

.swiper {
  overflow: hidden;
}

.swiper-slide {
  width: 360px;
  height: 360px;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

@media screen and (max-width: 1024px) {
  .slider {
    margin-left: 10px;
  }
}
.slider {
  position: relative;
}

.slide-message {
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  background-color: #f8f8f8;
  gap: 12px;
  position: absolute;
  top: 53%;
  right: 15%;
  padding-left: 47px;
  padding-right: 45px;
  z-index: 10;
}

.slide-message-text {
  font-size: 40px;
  font-weight: 700;
  font-family: Zen Kaku Gothic New;
  letter-spacing: 0.5em;
  color: #4282B8;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
}
.slide-message-text span {
  color: #000;
  font-family: Zen Kaku Gothic New;
}

.sec-main {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 71px;
}

.sec-main2 { /*news sectionの見出し*/
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 208px;
}

.sec-main3 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.sec-title {
  color: #fff;
  -webkit-text-stroke: 1px #4282B8;
  text-stroke: 1px #4282B8;
  font-family: kanit;
  font-weight: 700;
  font-size: 128px;
  margin-top: 20px;
}

section {
  max-width: 1160px;
  width: 100%;
  height: auto;
}

.sec-button {
  display: inline-block;
  padding: 22px 82px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: relative;
  margin-top: 30px;
  margin-left: 55px;
}

.sec-button::before {
  position: absolute;
  content: "";
  top: 25px;
  right: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.sec-button1 {
  display: inline-block;
  padding: 22px 82px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: relative;
  margin-top: 40px;
}

.sec-button1::before {
  position: absolute;
  content: "";
  top: 25px;
  right: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.sec-button2 {
  display: inline-block;
  padding: 22px 82px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: relative;
  margin-top: 28px;
  margin-left: 5px;
}

.sec-button2::before {
  position: absolute;
  content: "";
  top: 25px;
  right: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.about-inner {
  width: 100%;
  display: flex;
}

.top-about-box {
  width: 100%;
}

.top-about-text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
  line-height: 1.8;
  width: 68%;
}

.top-about-img {
  width: 290px;
  height: 213px;
  margin-top: -3%;
  margin-right: 32%;
  z-index: 1;
}
.top-about-img img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .about-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.top-service-inner {
  margin-top: 134px;
  max-width: 1160px;
  width: 100%;
  position: relative;
}
.top-service-inner::before {
  content: "";
  display: block;
  width: 20px;
  height: 1961px;
  position: absolute;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 50px 0 0 50px;
  width: 968px;
  height: 1961;
  right: 0;
  z-index: -1;
}

.top-service-sec {
  margin-left: 0;
  display: flex;
}

.top-service-main {
  width: 100%;
}

.top-service-box {
  margin-top: 64px;
  max-width: 1160px;
  width: 100%;
  height: auto;
  display: flex;
}

.top-service-box2 {
  margin-top: 90px;
  display: flex;
  flex-direction: row-reverse;
  max-width: 1160px;
  width: 100%;
  padding-right: 153px;
}

.top-service-box3 {
  margin-top: 90px;
  display: flex;
  max-width: 1160px;
  width: 100%;
}

.top-service-no {
  font-family: kanit;
  font-weight: 700;
  font-size: 168px;
  color: #B1C6DC;
  margin-left: -24px;
  position: relative;
  z-index: -1;
}

.top-service-no2 {
  font-family: kanit;
  font-weight: 700;
  font-size: 168px;
  color: #B1C6DC;
  position: relative;
  left: 63%;
  z-index: -1;
}

.top-service-no3 {
  font-family: kanit;
  font-weight: 700;
  font-size: 168px;
  color: #B1C6DC;
  margin-left: -20px;
  position: relative;
  z-index: -1;
}

.top-service-title {
  font-size: 24px;
  padding: 10px 16px;
  width: 43%;
  line-height: 100%;
  background-color: #fff;
  margin-left: 56px;
}

.top-service-title2 {
  margin-left: 0;
  padding: 10px 16px;
  width: 56%;
  line-height: 100%;
  background-color: #fff;
  font-size: 24px;
  margin-left: 5px;
  margin-top: -3;
}

.top-service-title3 {
  font-size: 24px;
  padding: 10px 16px;
  width: 20%;
  line-height: 100%;
  background-color: #fff;
  margin-left: 56px;
}

.top-service-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #000;
  margin-top: 47px;
  width: 64%;
  margin-left: 56px;
}

.top-service-text2 {
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #000;
  width: 86%;
  margin-top: 48px;
}

.top-service-text3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #000;
  margin-top: 47px;
  width: 65%;
  margin-left: 56px;
}

.top-service-img {
  width: 81%;
  object-fit: contain;
}

.top-service-img img {
  width: 100%;
}

.top-service-img2 {
  width: 105%;
}

.top-service-img2 img {
  width: 100%;
}

.top-service-img3 {
  width: 80%;
  object-fit: contain;
}

.top-service-img3 img {
  width: 100%;
}

.top-news-inner {
  width: 100%;
  margin-left: 0;
  max-width: 1120px;
}

.top-news-box {
  font-weight: 700;
  font-size: 16px;
  color: #000;
  line-height: 180%;
  margin-top: 44px;
}

.top-news-name {
  display: flex;
  color: #4282B8;
}

.top-news-menu {
  color: #4282B8;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #4282B8;
  width: 116px;
  text-align: center;
  margin-top: 32px;
}

.top-news-list {
  border-top: 1px solid #4282B8;
  position: relative;
}
.top-news-list::after {
  content: "";
  display: block;
  top: 45%;
  left: 30%;
  width: 130%;
  height: 10%;
  position: absolute;
  background-image: url(../img/arrow-icon-right.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.top-news-date {
  color: #4282B8;
  font-size: 14px;
  font-weight: 700;
  margin-left: 20px;
  display: inline;
  margin-top: 30px;
}

.top-news-item {
  margin-top: 13px;
  padding-bottom: 22px;
  border-bottom: 1px solid #4282B8;
}

.top-contact {
  background-color: #f8f8f8;
  border-radius: 50px;
}

.top-contact-inner {
  padding-left: 24px;
  padding-top: 34px;
  padding-bottom: 50px;
  margin-top: 134px;
}

.contact-box {
  display: flex;
  justify-content: flex-start;
  margin-top: 44px;
  align-items: center;
}

.top-contact-text {
  padding-right: 32px;
}

.top-contact-text-name {
  font-size: 30px;
  font-family: kanit;
  font-weight: 400;
}

.top-contact-text-tel {
  font-size: 12px;
  margin-top: 10px;
}

.top-contact-no {
  padding-inline: 34px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.top-contact-no-open {
  font-size: 12px;
  margin-top: 10px;
}

.top-contact-no-tel {
  font-size: 32px;
  font-family: kanit;
  font-weight: 400;
}

.top-contact-mail {
  margin-left: 64px;
  background-color: #fff;
  padding-inline: 40px;
  display: inline-block;
  padding: 0px 36px;
  line-height: 1;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: relative;
}
.top-contact-mail a {
  display: block;
  height: 60px;
  padding-left: 30px;
  padding-top: 22px;
  align-items: center;
}
.top-contact-mail::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(../img/mail-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-top: 22px;
}
.top-contact-mail::after {
  position: absolute;
  content: "";
  top: 25px;
  right: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.footer {
  margin-top: 124px;
}

.footer-inner {
  max-width: 1160px;
  width: 100%;
  height: auto;
  display: flex;
}

.footer-left {
  width: 60%;
}

.footer-left-img {
  width: 222px;
  height: 133px;
}

.footer-left-img img {
  width: 100%;
  height: 100%;
}

.footer-left-add {
  margin-top: 20px;
}

.footer-right {
  width: 66%;
  margin-top: 7px;
}

.footer-menu {
  line-height: 3.4;
}
.footer-menu span {
  margin-left: 16px;
}

.footer-left-add-text {
  margin-top: 31px;
  margin-bottom: 47px;
  line-height: 2;
  font-weight: 400;
}
.footer-left-add-text span {
  padding-left: 13px;
}

small {
  margin-right: 61px;
  font-size: 80%;
  display: block;
  margin-top: 92px;
  text-align: right;
}

.footer-menu-contact {
  position: relative;
  display: inline-block;
  padding-left: 34px;
}
.footer-menu-contact::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url(../img/mail-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-top: 20px;
  margin-left: -24px;
}/*# sourceMappingURL=style.css.map */