@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
* ::before, ::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p, table, blockquote, address, pre, iframe, form, figure, dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg, img, embed, object, iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button, input, optgroup, select, textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button, [type=button], [type=reset], [type=submit] {
  cursor: pointer;
}

button:disabled, [type=button]:disabled, [type=reset]:disabled, [type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td {
  vertical-align: top;
  padding: 0;
}

th {
  vertical-align: top;
  padding: 0;
  text-align: left;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000;
  font-weight: 700;
}

nav {
  list-style: none;
}

.main {
  margin-left: 280px;
  height: auto;
}
@media screen and (max-width: 1024px) {
  .main {
    width: 100%;
    margin-left: 0;
    padding-left: 20px;
  }
}

.contents .contents hidden {
  max-width: 1440px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .contents {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}
.side {
  width: 280px;
  height: auto;
}

.side-header {
  position: fixed;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column;
  max-width: 280px;
  height: 100%;
  z-index: 100;
  margin-top: 74px;
}

@media screen and (max-width: 1024px) {
  .side-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1024px;
    height: 102px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 0px;
    z-index: 10;
    margin-top: 0;
  }
}
.header-nav {
  margin-top: 25px;
  transition: all 0.3s;
}

.side-header-logo {
  transition: 0.4s;
}
.side-header-logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .header-nav {
    display: none;
  }
  .side-header-logo {
    margin-top: 10px;
    transition: 0.6s;
    width: 98px;
    height: 59px;
  }
  .side-header-logo:hover {
    opacity: 0.9;
  }
  .side-header-logo img {
    width: 100%;
    height: auto;
  }
}
.header-nav-list {
  font-size: 20px;
  font-weight: 700;
}

.header-nav-main {
  cursor: pointer;
  position: relative;
  width: 100%;
  display: block;
}

.header-nav-main-box {
  position: relative;
}
.header-nav-main-box a {
  display: block;
  padding-top: 24px;
  padding-bottom: 30px;
  border-bottom: 1px solid #B1C6DC;
}
.header-nav-main-box.open .header-nav-main-bar2, .header-nav-main-box.open .header-nav-main-bar4 {
  transform: translateY(0%) rotate(90deg);
}

.header-nav-drop {
  display: none;
  width: 100%;
  background: #fff;
  font-size: 14px;
  padding: 20px 17px;
  border-bottom: 1px solid #B1C6DC;
}
.header-nav-drop a {
  padding: 12px 0;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  display: flex;
}

.header-nav-item {
  margin-top: 9px;
}
.header-nav-item a {
  padding-top: 25px;
  padding-bottom: 30px;
  display: inline-block;
  width: 200px;
}

.header-nav-main2 {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #B1C6DC;
  width: 100%;
  display: block;
}

.header-nav-main-bar {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 44%;
  right: 0px;
  transform: translateY(-50%);
}

.header-nav-main-bar1 {
  position: absolute;
  width: 24px;
  height: 1px;
  top: 50%;
  transition: 0.3s;
  transform: translateY(-50%);
  background: #4282B8;
}

.header-nav-main-bar2 {
  position: absolute;
  width: 1px;
  height: 24px;
  top: 0%;
  right: 50%;
  transition: all 0.3s;
  transform: translateX(-50%);
  transform-origin: center;
  background: #4282B8;
}

.header-nav-main-bar3 {
  position: absolute;
  width: 24px;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
  background: #4282B8;
}

.header-nav-main-bar4 {
  position: absolute;
  width: 1px;
  height: 24px;
  top: 0%;
  right: 50%;
  transform: translateY(0%);
  background: #4282B8;
  transition: all 0.3s;
}

.header-nav-main:hover .header-nav—main-bar1 {
  transition: 0.3s;
  transform: rotate(90deg);
}

.header-nav-drop a:hover {
  opacity: 0.7;
}

.contact {
  position: relative;
}
.contact a {
  padding-left: 40px;
}
.contact::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url(../img/mail-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-top: 24px;
}

/* ドロワーメニュー */
.drawer_nav {
  display: none;
}

@media screen and (max-width: 1024px) {
  .drawer_nav {
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: 0.3s;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    color: #000;
  }
  .drawer_nav.active {
    transform: translateX(0%);
    visibility: visible;
    pointer-events: all;
  }
  .drawer_nav a {
    transition: 0.4s;
    display: block;
    height: inherit;
    align-items: center;
  }
  .drawer_list {
    font-family: "Zen Kaku Gothic New";
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-decoration-skip-ink: none;
    color: #000;
    align-items: center;
    padding-top: 32px;
  }
  .drawer_item {
    list-style: none;
    padding-top: 32px;
    color: #000;
  }
  .drawer_item img {
    width: 24px;
    margin: 0;
    padding: 0;
  }
  .drawer_list span {
    margin-right: 12px;
    box-sizing: border-box;
    width: 24px;
  }
  small {
    font-size: 12px;
    display: block;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
  }
}
.hidden {
  display: none;
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 900;
  display: grid;
  place-content: center;
  opacity: 0; /* 初期状態は透明にする */
  transition: opacity 0.5s ease; /* アニメーションを適用 */
  pointer-events: none; /* 背後のコンテンツにマウスイベントが影響しないようにする */
}

.loading.active {
  display: grid;
  opacity: 1;
  transition: opacity 0.5s ease; /* アニメーションを適用 */
}

/* JS が無効なときのスタイル */
@media (scripting: none) {
  .loading {
    display: none;
  }
  .hidden {
    display: block;
  }
}
.fv {
  width: 100%;
  vertical-align: middle;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .fv {
    margin-top: 102px;
  }
}

.fv-inner {
  padding-top: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
.fv-inner::before {
  content: "";
  display: block;
  width: 53vw;
  aspect-ratio: 1/1;
  background: #4282B8;
  position: absolute;
  top: -40px;
  right: 0px;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .fv-inner {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .fv-inner::before {
    display: none;
  }
}
.fv-bg {
  width: 100%;
  height: auto;
  margin: 0;
  object-fit: cover;
  object-position: center;
  position: relative;
}

@media screen and (max-width: 375px) {
  .fv-bg {
    max-width: 375px;
    width: 100%;
    height: auto;
    background-image: url(../img/first-view-sp1.svg);
    background-repeat: no-repeat;
  }
}
.fv-bg img {
  width: 100%;
  margin: 0;
}

.scroll {
  color: #4282B8;
  font-size: 10px;
  position: absolute;
  top: 92%;
  left: 4%;
  width: 54px;
  opacity: 1;
  transform: translateX(-50%);
  font-size: 10px;
  line-height: 1;
}

.scroll::before,
.scroll::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  height: 114px;
  bottom: -120px;
}

.scroll::before {
  background-color: #fff;
}

.scroll::after {
  background-color: #4282B8;
  animation: scrollDown 2s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}

@keyframes scrollDown {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
.fv-message {
  width: 100%;
  width: 41.6666666667vw;
  position: absolute;
  top: 73%;
  left: 42%;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fv-message.show {
  opacity: 1;
  transform: translateY(0);
}

.fv-message-main {
  display: block;
  font-size: 4.4444444444vw;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 13px 14px;
  border-radius: 10px;
  transition: opacity 0.5s;
}

.fv-message-sub {
  width: 100%;
  font-size: 16px;
  font-size: 1.1111111111vw;
  font-weight: 700;
  line-height: 2;
  color: #000;
  margin-top: 20px;
  display: block;
}

@media screen and (max-width: 1024px) {
  .fv-message {
    width: 100%;
    width: 58.59375vw;
    position: absolute;
    top: 70%;
    left: 33%;
  }
  .fv-message-main {
    color: #000;
    background-color: #fff;
    padding: 13px 14px;
    border-radius: 10px;
    transition: opacity 0.5s;
  }
  .fv-message-sub {
    line-height: 2;
    color: #000;
    margin-top: 20px;
    position: absolute;
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .fv_image {
    background: url(../../img/first-view-sp1.svg);
    background-repeat: no-repeat;
  }
  .fv-message {
    width: 100%;
    width: 93.8722294654vw;
    position: absolute;
    top: 70%;
    left: 3%;
  }
  .fv-message-main {
    padding: 20px 10px;
  }
  .fv-message-sub {
    font-size: 12px;
    margin-top: 20px;
    width: 100%;
  }
}
/* 写真無限スライダー */
.slider {
  width: 100%;
  margin-top: 80px;
  background-color: #f8f8f8;
  height: 486px;
  padding-top: 63px;
  padding-bottom: 63px;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 360px;
  height: 360px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

@media screen and (max-width: 1024px) {
  .slider {
    margin-left: 10px;
  }
}
.sec-main { /*about,service sectionの見出し*/
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 71px;
}

.sec-main-news { /*news sectionの見出し*/
  margin-top: 208px;
}

.sec-main-contact { /*contact sectionの見出し*/
  font-size: 0px;
}

.sec-title {
  color: #fff;
  -webkit-text-stroke: 1px #4282B8;
  text-stroke: 1px #4282B8;
  font-family: kanit;
  font-weight: 700;
  font-size: 128px;
  margin-top: 20px;
}

section {
  width: 100%;
  height: auto;
}

/*ボタン共通化：*/
.sec-button {
  display: inline-block;
  padding: 22px 82px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border-radius: 10px;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.6s ease 0s;
  position: relative;
}
.sec-button::before {
  position: absolute;
  content: "";
  top: 25px;
  right: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}
.sec-button:hover {
  background: #000;
  color: #fff;
}

.sec-button:hover::before {
  background-color: #fff;
}

.top-about-inner {
  width: 100%;
  display: flex;
}

.top-about-box {
  width: 100%;
}

.top-about-text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
  line-height: 1.8;
  width: 68%;
}

.top-about-button {
  margin-top: 40px;
}

.top-about-img {
  position: relative;
  display: flex;
}

.top-about-message {
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  background-color: #f8f8f8;
  gap: 12px;
  position: absolute;
  top: -92%;
  right: -126%;
  padding-left: 45px;
  padding-right: 45px;
  z-index: 10;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.top-about-message.show {
  opacity: 1;
  transform: translateY(0);
}

.top-about-message-text {
  font-size: 40px;
  font-weight: 700;
  font-family: Zen Kaku Gothic New;
  letter-spacing: 0.5em;
  color: #4282B8;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
}
.top-about-message-text span {
  color: #000;
  font-family: Zen Kaku Gothic New;
}

.top-about-img {
  width: 290px;
  height: 213px;
  margin-top: -3%;
  margin-right: 32%;
  z-index: 1;
}
.top-about-img img {
  width: 100%;
  height: auto;
}

.top-service-inner {
  margin-top: 62px;
  width: 100%;
  position: relative;
}
.top-service-inner::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #f8f8f8;
  border-radius: 50px 0 0 50px;
  width: 83%;
  height: 104%;
  right: 0;
  top: 20px;
  z-index: -1;
}

.top-service-group {
  margin-left: 0;
  display: flex;
}

.top-service-icon {
  width: 124px;
  height: 174px;
  position: absolute;
  top: 6%;
  left: 74%;
}
.top-service-icon img {
  width: 100%;
  align-self: 100%;
}

.top-service-main {
  width: 100%;
}

.top-service-box {
  margin-top: 64px;
  width: 100%;
  height: auto;
  display: flex;
}

.top-service-box2 {
  margin-top: 90px;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding-right: 153px;
}

.top-service-box3 {
  margin-top: 90px;
  display: flex;
  width: 100%;
}

.top-service-no {
  font-family: kanit;
  font-weight: 700;
  font-size: 168px;
  color: #B1C6DC;
  margin-left: -24px;
  position: relative;
  z-index: -1;
}

.top-service-no2 {
  font-family: kanit;
  font-weight: 700;
  font-size: 168px;
  color: #B1C6DC;
  position: relative;
  left: 63%;
  z-index: -1;
}

.top-service-no3 {
  font-family: kanit;
  font-weight: 700;
  font-size: 168px;
  color: #B1C6DC;
  margin-left: -20px;
  position: relative;
  z-index: -1;
}

.top-service-title {
  font-size: 24px;
  padding: 10px 16px;
  display: inline-block;
  line-height: 100%;
  margin-left: 56px;
  background-color: #fff;
}

.top-service-title2 {
  margin-left: 0;
  padding: 10px 16px;
  display: inline-block;
  line-height: 100%;
  font-size: 24px;
  margin-left: 5px;
  margin-top: -3;
  background-color: #fff;
}

.top-service-title3 {
  font-size: 24px;
  padding: 10px 16px;
  display: inline-block;
  line-height: 100%;
  margin-left: 56px;
  background-color: #fff;
}

.top-service-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #000;
  margin-top: 47px;
  width: 64%;
  max-width: 100%;
  margin-left: 56px;
}

.top-service-text2 {
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #000;
  width: 86%;
  margin-top: 48px;
}

.top-service-text3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #000;
  margin-top: 47px;
  width: 65%;
  margin-left: 56px;
}

.top-service-img {
  width: 81%;
  max-width: 100%;
  object-fit: contain;
}
.top-service-img img {
  width: 100%;
}

.top-service-img2 {
  width: 105%;
}
.top-service-img2 img {
  width: 100%;
}

.top-service-img3 {
  width: 80%;
  object-fit: contain;
}
.top-service-img3 img {
  width: 100%;
}

.top-service-link1 {
  margin-top: 30px;
  margin-left: 56px;
}

.top-service-link2 {
  margin-top: 28px;
  margin-left: 5px;
}

.top-service-link3 {
  margin-top: 30px;
  margin-left: 55px;
}

.top-news-inner {
  margin-left: 0;
  margin-right: 40px;
}

.top-news-list {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  line-height: 180%;
  margin-top: 48px;
}

.top-news-name {
  display: flex;
  color: #4282B8;
}

.top-news-menu {
  color: #4282B8;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #4282B8;
  width: 116px;
  text-align: center;
}

.top-news-item {
  display: block;
  border-top: 1px solid #4282B8;
  position: relative;
  transition: 0.6s;
  padding-top: 28px;
}
.top-news-item:hover {
  opacity: 0.6;
}
.top-news-item::after {
  content: "";
  display: block;
  top: 45%;
  left: 96%;
  width: 16px;
  height: 16px;
  position: absolute;
  background-image: url(../img/arrow-icon-right.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.top-news-date {
  color: #4282B8;
  font-size: 14px;
  font-weight: 700;
  margin-left: 16px;
}

.top-news-item:nth-last-child(1) {
  border-bottom: 1px solid #4282B8;
}

.top-news-item-title {
  margin-top: 14px;
  padding-bottom: 25px;
}

.top-contact {
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
  border-radius: 50px 0 0 50px;
}

.top-contact-inner {
  padding-left: 24px;
  padding-top: 34px;
  padding-bottom: 50px;
  margin-top: 128px;
}
@media (max-width: 1024px) {
  .top-contact-inner {
    padding-top: 27px;
    padding-left: 20px;
    padding-bottom: 41px;
    margin-top: 64px;
  }
}

.top-contact-group {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.top-contact-box {
  display: flex;
  justify-content: flex-start;
  margin-top: 44px;
  align-items: center;
}
@media (max-width: 1024px) {
  .top-contact-box {
    display: block;
    margin-top: 47px;
  }
}

.top-contact-text {
  padding-right: 34px;
}
@media (max-width: 1024px) {
  .top-contact-text {
    margin-top: 47px;
    display: flex;
  }
}

.top-contact-text-name {
  font-size: 32px;
  font-family: kanit;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .top-contact-text-name {
    padding-right: 5px;
  }
}

.top-contact-text-tel {
  font-size: 12px;
  margin-top: 10px;
}

.top-contact-no {
  padding-inline: 34px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
}
@media (max-width: 1024px) {
  .top-contact-no {
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-top: 24px;
    border-right: none;
    border-left: none;
    border-top: 1px solid #000;
    padding-top: 24px;
  }
}

.top-contact-no-open {
  font-size: 12px;
  margin-top: 10px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .top-contact-no-open {
    margin-top: 8px;
  }
}

.top-contact-no-tel {
  font-size: 32px;
  font-family: kanit;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .top-contact-no-tel a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}

.top-contact-mail {
  margin-left: 64px;
  display: inline-block;
  padding: 0px 36px;
  line-height: 1;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.6s ease 0s;
  position: relative;
}
.top-contact-mail a {
  display: block;
  height: 60px;
  padding-left: 30px;
  padding-top: 22px;
  align-items: center;
}
.top-contact-mail::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-mask-position: center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: url(../img/mail-icon.svg);
  mask-image: url(../img/mail-icon.svg);
  background: #000;
  margin-top: 22px;
  transition: all 0.6s ease 0s;
}
.top-contact-mail:hover::before {
  background-color: #fff;
}
.top-contact-mail::after {
  position: absolute;
  content: "";
  top: 25px;
  right: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}
.top-contact-mail:hover {
  background-color: #000;
  color: #fff;
}
.top-contact-mail:hover::after {
  background-color: #fff;
}
@media (max-width: 1024px) {
  .top-contact-mail {
    margin-top: 36px;
    margin-left: 0;
  }
}

.top-contact-img {
  width: 11vw;
  height: auto;
  position: absolute;
  margin-top: -0.5%;
  margin-left: 82%;
}
.top-contact-img img {
  width: 100%;
  height: auto;
}
@media (max-width: 1024px) {
  .top-contact-img {
    top: -14.5%;
    left: 0%;
    width: 12%;
    height: auto;
    position: absolute;
  }
}

.footer {
  margin-top: 120px;
  margin-bottom: 30px;
  width: 100%;
}

.footer-inner {
  width: 100%;
  height: auto;
  display: flex;
}

@media screen and (max-width: 1380px) {
  .footer-inner {
    display: block;
  }
}
.footer-left {
  width: 41%;
}
@media screen and (max-width: 1380px) {
  .footer-left {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .footer-left {
    text-align: center;
    width: 100%;
    margin-top: 36px;
  }
}

.footer-left-add {
  margin-top: 20px;
  font-weight: 400;
  padding-left: 3px;
}

.footer-left-box {
  display: flex;
  gap: 15px;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .footer-left-box {
    justify-content: center;
  }
}

.footer-left-add-menu {
  margin-top: 18px;
  font-weight: 400;
}

.footer-left-add-item {
  margin-top: 18px;
}

.footer-left-img {
  width: 222px;
  height: 133px;
  transition: 0.4s;
}
.footer-left-img img {
  width: 100%;
  height: 100%;
}
.footer-left-img:hover {
  opacity: 0.6;
}
@media screen and (max-width: 1024px) {
  .footer-left-img {
    width: 100%;
    text-align: center;
  }
}

.footer-right {
  margin-left: 75px;
}
@media screen and (max-width: 1360px) {
  .footer-right {
    width: 100%;
    margin-left: auto;
    margin-top: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .footer-right {
    width: 100%;
    text-align: center;
    margin-top: 66px;
    margin-left: auto;
  }
}
.footer-right-list {
  display: flex;
  margin-top: 34px;
}
@media screen and (max-width: 1024px) {
  .footer-right-list {
    display: block;
    margin: 0 auto;
    line-height: 1;
  }
}

.footer-menu-item {
  transition: 0.6s;
  padding-right: 24px;
  display: inline-block;
}
.footer-menu-item:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .footer-menu-item {
    display: block;
    margin: 33px auto 0;
  }
}

.footer-menu-contact {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  transition: 0.6s;
  padding-top: 10px;
}
.footer-menu-contact::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(../img/mail-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-left: -32px;
}
.footer-menu-contact:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .footer-menu-contact {
    display: inline-block;
    margin: 33px auto 0;
  }
}

small {
  margin-right: 20px;
  display: block;
  font-weight: 400;
  text-align: right;
}
@media screen and (max-width: 1024px) {
  small {
    text-align: center;
    font-weight: 400;
    margin-top: 58px;
  }
}

/*header*/
.sp_header_menu {
  display: none;
}

.sp_menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .sp_header_menu {
    display: block;
  }
  .sp_header_main {
    display: flex;
  }
  .sp_menu {
    background-color: #4282b8;
    color: #fff;
    width: 56px;
    height: 56px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    transition: all 0.3s;
    align-items: center;
    justify-content: center;
  }
  .sp_menu:hover {
    opacity: 0.7;
  }
  /* ハンバーガーの３本線 */
  .sp_menu span {
    display: block;
    transition: all 0.3s;
    top: 12px;
    left: 25%;
    width: 32px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
  }
  .sp_menu_icon span:nth-of-type(2) {
    margin-top: 12px;
  }
  .sp_menu_icon span:nth-of-type(3) {
    margin-top: 12px;
  }
  /* menuクラスがactiveの時のコード*/
  .sp_menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
  }
  .sp_menu.active span:nth-child(2) {
    opacity: 0;
  }
  .sp_menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }
  .drawer_nav.active {
    display: block;
    opacity: 1;
  }
  /*section共通のレスポンシブ*/
  /*about,service sectionの見出し*/
  .sec-main {
    font-size: 20px;
    margin-top: 0;
  }
  /*news sectionの見出し*/
  .sec-main-news {
    margin-top: 32px;
  }
  /*contact sectionの見出し*/
  .sec-main .sec-main-contact {
    font-size: 20px;
    margin-top: 0;
  }
  .sec-title {
    font-size: 72px;
    margin-top: 16px;
  }
  /*service section　のレスポンシブ*/
  .top-service-box {
    margin-top: 24px;
    display: block;
  }
  .top-service-box2 {
    margin-top: 50px;
    display: block;
    width: 100%;
  }
  .top-service-box3 {
    margin-top: 50px;
    display: block;
    width: 100%;
  }
  .top-service-no {
    font-size: 48px;
    margin-left: -24px;
    position: relative;
    z-index: -1;
  }
  .top-service-no2 {
    font-size: 48px;
    position: relative;
    left: -20%;
    z-index: -1;
  }
  .top-service-no3 {
    font-size: 48px;
    margin-left: -20px;
    position: relative;
    z-index: -1;
  }
}
/* モーダルウィンドウ */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 860px;
  height: 791px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 11;
  padding: 2rem;
}

/* 閉じるボタン */
.modal-close {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 240px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-top: 60px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

.modal-close-bar {
  position: absolute;
}

.modal-close-bar span {
  position: relative;
  width: 32px;
  height: 2px;
  background: black;
  display: block;
}

.modal-close-bar span:nth-child(1) {
  transform: rotate(45deg);
}

.modal-close-bar span:nth-child(2) {
  transform: rotate(-45deg);
}

.modal-item {
  margin-top: 1%;
  margin-left: 9%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: color #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.top-news-name-box {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 14px;
}

.modal-close__wrap {
  position: absolute;
  right: 40px;
  top: 20px;
}

.overlay .open {
  display: block;
}

.modal .open {
  display: block;
}

.modal-news {
  font-size: 24px;
  text-align: left;
  line-height: 1.8;
}

.modal-message {
  font-size: 16px;
  font-weight: 400;
  margin-top: 35px;
  text-align: left;
}/*# sourceMappingURL=style.css.map */