@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
* ::before, ::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p, table, blockquote, address, pre, iframe, form, figure, dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg, img, embed, object, iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button, input, optgroup, select, textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button, [type=button], [type=reset], [type=submit] {
  cursor: pointer;
}

button:disabled, [type=button]:disabled, [type=reset]:disabled, [type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td {
  vertical-align: top;
  padding: 0;
}

th {
  vertical-align: top;
  padding: 0;
  text-align: left;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000;
  overflow-x: hidden;
}

nav {
  list-style: none;
}

main {
  width: 80.5%;
  margin-left: 19.55;
}
@media screen and (max-width: 1024px) {
  main {
    width: 100%;
    margin-left: 0;
  }
}

.sp_header_menu {
  display: none;
}

.contents .contents hidden {
  max-width: 1440px;
  width: 100%;
  display: flex;
}

.side {
  width: 280px;
  height: auto;
}

.side-header {
  position: fixed;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: column;
  max-width: 280px;
  height: 100%;
  z-index: 100;
}

.side-header-logo {
  width: 280px;
  margin-top: 75px;
}

.header-nav {
  margin-top: 25px;
  transition: all 0.3s ease 0s;
}

.header-nav-list {
  font-size: 20px;
  font-weight: 700;
}

.header_nav_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-nav-item {
  display: inline-block;
  position: relative;
}
.header-nav-item.contact::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../../img/mail-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.header-nav-main {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #B1C6DC;
  width: 200px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav-drop {
  width: 100%;
  position: absolute;
  background: #fff;
  font-size: 16px;
  opacity: 0;
}

.header-nav-drop a {
  padding-top: 32px;
  text-align: center;
  color: #000;
  font-weight: 700;
  opacity: 0.3;
}

.header-nav-drop a:hover {
  opacity: 0.4;
}

.header-nav-box:hover {
  opacity: 0.5;
}

.header-nav-drop:nth-child(3) {
  margin-bottom: 32px;
}

.header_nav_box {
  display: flex;
}

.header-nav-drop-link {
  display: inline-block;
  padding-top: 24px;
}

.header-nav-drop-bar1 {
  position: absolute;
  width: 24px;
  height: 1px;
  top: 256px;
  right: 40px;
  transform: translateY(-50%);
  background: #4282B8;
  cursor: pointer;
}

.header-nav-drop-bar2 {
  position: absolute;
  width: 1px;
  height: 24px;
  top: 243px;
  left: 228px;
  transform: translateX(-50%);
  transition: all 0.3s;
  background: #4282B8;
  cursor: pointer;
}

.header-nav-drop-bar3 {
  position: absolute;
  width: 24px;
  height: 1px;
  top: 324px;
  right: 40px;
  transform: translateY(-50%);
  background: #4282B8;
  cursor: pointer;
}

.header-nav-drop-bar4 {
  position: absolute;
  width: 1px;
  height: 24px;
  top: 312px;
  left: 228px;
  transform: translateX(-50%);
  transition: all 0.3s;
  background: #4282B8;
  cursor: pointer;
}

.header-nav-main:hover {
  opacity: 1;
}

.header-nav-item:hover {
  display: block;
  left: 11px;
}

.header-nav—drop-bar2:hover {
  transform: rotate(90deg);
}

.header-nav-drop:hover {
  opacity: 0.9;
}

.header-nav {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main {
  max-width: 1120px;
  width: 100%;
}

.fv {
  width: 100%;
  vertical-align: middle;
  position: absolute;
  height: 727px;
  margin-bottom: 186px;
}

.fv-inner {
  padding-top: 40px;
  padding-left: 280px;
  padding-right: 40px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 100%;
  height: 873px;
  position: relative;
}

.fv-inner::before {
  content: "";
  display: block;
  width: 50.4861111111vw;
  aspect-ratio: 1/1;
  background: #4282B8;
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: -10;
}

.fv-bg {
  width: 100%;
  height: auto;
  margin: 0;
}

.fv-bg img {
  width: 100%;
  margin: 0;
}

.fv-img p {
  width: 540px;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  color: #000;
  left: 450px;
  top: 100%;
  padding-top: 40px;
  position: absolute;
}

.fv-img h2 {
  font-size: 64px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 13px 14px;
  position: absolute;
  top: 650px;
  left: 450px;
  width: 540px;
  border-radius: 10px;
  transition: opacity 0.5s;
}

.sp_menu {
  display: none;
}

/* ドロワーメニュー */
.drawer_nav {
  display: none;
}

@media screen and (max-width: 1440px) {
  .drawer_nav {
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: 0.3s;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    color: #000;
  }
  .drawer_nav.active {
    transform: translateX(0%);
    visibility: visible;
    pointer-events: all;
  }
  .drawer_nav a {
    transition: 0.4s;
    display: block;
    height: inherit;
    align-items: center;
  }
  .drawer_list {
    font-family: "Zen Kaku Gothic New";
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-decoration-skip-ink: none;
    color: #000;
    align-items: center;
    padding-top: 32px;
  }
  .drawer_item {
    list-style: none;
    padding-top: 32px;
    color: #000;
  }
  .drawer_item img {
    width: 24px;
    margin: 0;
    padding: 0;
  }
  .drawer_list span {
    margin-right: 12px;
    box-sizing: border-box;
    width: 24px;
  }
  small {
    font-size: 12px;
    display: block;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
  }
}
.hidden {
  display: none;
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 900;
  display: grid;
  place-content: center;
  opacity: 0; /* 初期状態は透明にする */
  transition: opacity 0.5s ease; /* アニメーションを適用 */
  pointer-events: none; /* 背後のコンテンツにマウスイベントが影響しないようにする */
}

.loading.active {
  display: grid;
  opacity: 1;
  transition: opacity 0.5s ease; /* アニメーションを適用 */
}

/* JS が無効なときのスタイル */
@media (scripting: none) {
  .loading {
    display: none;
  }
  .hidden {
    display: block;
  }
}
@media screen and (max-width: 1440px) {
  .side-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1440px;
    height: 102px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 0 0 0 10px;
    z-index: 1000;
  }
  .header-nav {
    display: none;
  }
  .sp_header_menu {
    display: block;
  }
  .sp_header_main {
    display: flex;
  }
  .content {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  .fv {
    margin-top: 102px;
  }
  .fv-bg img {
    width: 100%;
  }
  .fv-img p {
    width: 430px;
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    line-height: 2;
    color: #000;
    left: 35%;
    top: 85%;
    padding-top: 40px;
  }
  .fv-img h2 {
    font-size: 50px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 13px 14px;
    position: absolute;
    top: 567px;
    left: 375px;
    width: 430px;
    border-radius: 10px;
    transition: opacity 0.5s ease;
  }
  .fv-inner {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .side-header-logo {
    margin-top: 10px;
  }
  .side-header img {
    width: 98px;
    height: 59px;
  }
  .sp_menu {
    background-color: #4282b8;
    color: #fff;
    width: 56px;
    height: 56px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    transition: all 0.3s;
    align-items: center;
    justify-content: center;
  }
  .sp_menu:hover {
    opacity: 0.7;
  }
  /* ハンバーガーの３本線 */
  .sp_menu span {
    display: block;
    transition: all 0.3s;
    top: 12px;
    left: 25%;
    width: 32px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
  }
  .sp_menu_icon span:nth-of-type(2) {
    margin-top: 12px;
  }
  .sp_menu_icon span:nth-of-type(3) {
    margin-top: 12px;
  }
  /* menuクラスがactiveの時のコード*/
  .sp_menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
  }
  .sp_menu.active span:nth-child(2) {
    opacity: 0;
  }
  .sp_menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }
  .drawer_nav.active {
    display: block;
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  .fv {
    width: 100%;
    vertical-align: middle;
    position: fixed;
    height: 727px;
    margin-bottom: 186px;
    background: #fff;
  }
  .fv-inner {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-repeat: no-repeat;
    width: 100%;
  }
  .fv-img h2 {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 20px 10px;
    position: absolute;
    top: 490px;
    left: 360px;
    width: 350px;
    border-radius: 10px;
    transition: opacity 0.5s;
  }
  .fv-img p {
    width: 430px;
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    line-height: 2;
    color: #000;
    left: 360px;
    top: 530px;
    padding-top: 40px;
  }
}
@media screen and (max-width: 767px) {
  .fv-img h2 {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 20px 10px;
    position: absolute;
    left: 10vw;
    top: 30vh;
    width: 218px;
    border-radius: 10px;
    transition: opacity 0.5s;
  }
  .fv-img p {
    width: 430px;
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    color: #000;
    left: 4vw;
    top: 33vh;
    padding-top: 22px;
  }
}/*# sourceMappingURL=style.css.map */