.moodal-wrapper {
  color: #df1014;
    cursor: pointer;
    display: none;
    left: calc(50vw + 452.5px);
    line-height: 1;
    padding: 10px;
    position: fixed;
    top: 120px;
    -webkit-transition: color .4s ease;
    transition: color .4s ease;
    z-index: 122;
}

.modal-close-bar {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  position: relative;
}

.modal-close-bar span {
  position: absolute;
  top: -129px;
  left: 901px;
  width: 41px;
  height: 5px;
  background: #fff;
  transform-origin: center;
  z-index: 10;
}

.modal-close-bar span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-bar span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-item {
  display: flex;
  gap: 16px;
  color: #4282B8;
  font-size: 14px;
}

.modal-menu {
  border: #4282B8 1px solid;
  padding-inline: 16px;
  line-height: 1.5;
}

.modal-inner {
  width: 100%;
  height: auto;
  padding-left: 11.9%;
  padding-right: 11.7%;
  padding-top: 16px;
  padding-bottom: 3%;

  @media screen and (max-width: 768px) {
    padding-inline: 5%;
  }
}

.overlay.open {
  display: block;
}

.modal-window.open {
  display: block;
}

.modal-button {
  text-align: center;
}

.modal-news {
  font-size: 24px;
  text-align: left;
  line-height: 1.8;
  margin-top: 16px;

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}
.modal-date {
  line-height: 1.8;
}
.modal-message {
  font-size: 16px;
  font-weight: 400;
  margin-top: 90px;
  text-align: left;
  line-height: 1.8;

  @media screen and (max-width: 1024px) {
    margin-top: 35px;
  }

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.modal-photo {
  margin-top: 16px;
  max-width: 656px;
  max-height: 366px;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}


/* 開くボタン */
.button-open {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border: none;
  border-top: #4282B8 solid 1px;
}

/* モーダルウィンドウ */
.modal-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 860px;
  width: 90%;
  max-height: 79.5vh;
  overflow-y: auto;
  background-color: #fff;
  z-index: 100;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    width: 80%;
    left: 46%;
  }
}

/* 閉じるボタン */
.button-close {
  display: block;
  position: relative;
  width: 240px;
  padding: 21px 30px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  border: 0.5px solid #000;
  margin: 27px auto 0;
  transition: all 0.3s ease 0s;

  &::before {
    position: absolute;
    content: "";
    top: 24px;
    right: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
  }

  &:hover {
    background: #000;
    color: #fff;
  }

  &:hover::before {
    background-color: #fff;
  }
}


/* オーバーレイ */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: 10;
}


/* 表示領域外へはスクロールさせない */
.no-scroll {
  overflow: hidden;
  height: 100%;
}

/* モーダル開時に背景のスクロールを防ぐ */
html:has(dialog[open]) {
  overflow: hidden;
}