.modal-close-bar {
  position: absolute;
  top: 6%;
  right: 17%;
  opacity: 1;
}

.modal-close-bar span {
  position: absolute;
  width: 32px;
  height: 4px;
  background: #fff;
  display: block;
  margin-left: 0;
}

.modal-close-bar span:nth-child(1) {
  transform: rotate(44deg);
  top: 5px;
  right: -5px;
  position: absolute;
}

.modal-close-bar span:nth-child(2) {
  transform: rotate(-50deg);
  position: absolute;
  right: -5px;
  top: 5px;
}

.modal-item {
  display: flex;
  gap: 16px;
  color: #4282B8;
  font-size: 14px;
}

.modal-menu {
  border: #4282B8 1px solid;
  padding-inline: 16px;
}

.modal-inner {
  width: 100%;
  height: auto;
  padding-inline: 11.8%;
  padding-top: 16px;
  padding-bottom: 4%;
}

.overlay.open {
  display: block;
}

.modal-window.open {
  display: block;
}

.modal-news {
  font-size: 24px;
  text-align: left;
  line-height: 1.8;
  margin-top: 16px;
}

.modal-message {
  font-size: 16px;
  font-weight: 400;
  margin-top: 90px;
  text-align: left;

  @media screen and (max-width: 1024px) {
    margin-top: 35px;
  }
}

.modal-photo {
  margin-top: 16px;
  max-width: 656px;
  max-height: 366px;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}



/* 開くボタン */
.button-open {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border: none;
  border-top: #4282B8 solid 1px;
}

/* モーダルウィンドウ */
.modal-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 860px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  background-color: #fff;
  z-index: 100;
  box-sizing: border-box;
}

/* 閉じるボタン */
.button-close {
  display: inline-block;
  position: relative;
  bottom: 2%;
  left: 30%;
  width: 240px;
  padding: 16px 30px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  border: 0.5px solid #000;
  margin: 20px auto 0;
  transition: all 0.3s ease 0s;

  &::before {
    position: absolute;
    content: "";
    top: 25px;
    right: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
  }

  &:hover {
    background: #000;
    color: #fff;
  }
}


/* オーバーレイ */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: 98;
}


/* 表示領域外へはスクロールさせない */
.no-scroll {
  overflow: hidden;
  height: 100%;
}