.sp-header {
  display: none;
}

.sp-header__btn {
  display: none;
}

@media screen and (max-width: 1024px) {
  .sp-header {
    display: block;
  }

  .sp-header__btn {
    background-color: #4282b8;
    color: #fff;
    width: 56px;
    height: 48px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    transition: all 0.3s;
    align-items: center;
    justify-content: center;
  }

  .sp-header__btn:hover {
    opacity: 0.7;
  }

  .sp-header__btn-icon span {
    display: block;
    transition: all .3s;
    top: 12px;
    left: 25%;
    width: 32px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
  }

  .sp-header__btn-icon span:nth-of-type(2) {
    margin-top: 12px;
  }

  .sp-header__btn-icon span:nth-of-type(3) {
    margin-top: 12px;
  }

  .sp-header__btn.is-active span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
  }

  .sp-header__btn.is-active span:nth-child(2) {
    opacity: 0;
  }

  .sp-header__btn.is-active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }

  .drawer.is-active {
    display: block;
    opacity: 1;
  }

  .sec__heading {
    font-size: 20px;
    margin-top: 2px;
  }

  .sec__heading--news {
    margin-top: 175px;
  }

  .sec__heading--contact {
    font-size: 20px;
    margin-top: 0;
  }
}
