.top-news-inner {
    margin-left: 0;
    padding-right: 40px;

    @media screen and (max-width:1024px) {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.top-news-list {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    line-height: 1.8;
    margin-top: 48px;

    @media screen and (max-width:1024px) {
        font-size: 14px;

    }
}

.top-news-name {
    display: flex;
    color: #4282B8;
}

.top-news-menu {
    color: #4282B8;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #4282B8;
    width: 116px;
    text-align: center;
}

.top-news-item {
    display: block;
    border: 1px solid #4282B8;
    position: relative;
    transition: .3s;
    padding-top: 28px;
    line-height: 1.5;

    &:hover {
        opacity: .6;
    }

    &::after {
        content: "";
        display: block;
        top: 45%;
        left: 96%;
        width: 16px;
        height: 16px;
        position: absolute;
        background-image: url(../img/arrow-icon-right.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    @media screen and (max-width:1024px) {
        padding-top: 16px;
    }
}

.top-news-date {
    color: #4282B8;
    font-size: 14px;
    font-weight: 700;
    margin-left: 16px;
}


.top-news-item:nth-last-child(1) {
    border-bottom: 1px solid #4282B8;
}

.top-news-item-title {
    margin-top: 24px;
    margin-bottom: 24px;
    line-height: 1.8;

    @media screen and (max-width:1024px) {
        margin-top: 11px;
        font-size: 14px;
        line-height: 1.8;
        width: 90%;
        margin-bottom: 12px;
    }
}