@charset "utf-8" ;
@use 'scss/base/destyle';
@use 'scss/component/header';
@use 'scss/component/loading';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  body {
    color: #4282B8;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #000;
    overflow-x: hidden;
  }

  .header-nav {
    list-style: none;
  }
  .drop-menu-item {
    list-style: none;
  }
 