.sub-section__title {
  font-size: 40px;
}

.sub-about__intro {
  width: 100%;
  margin-top: 63px;
}

.sub-about__intro-group {
  display: flex;
  align-items: end;
  gap: 12.8%;
}

.sub-about__intro-group img {
  max-width: 156px;
  width: 100%;
}

.sub-about__intro-content {
  max-width: 420px;
  width: 100%;
}

.sub-about__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  max-width: 420px;
  margin-top: 40px;
}

.sub-about__intro-img {
  max-width: 156px;
  width: 100%;
}

.sub-nav {
  margin-top: 64px;
}

.sub-nav__btn {
  border-radius: 10px;
  text-align: center;
  border: 1px solid #4282B8;
  display: inline-block;
  width: 208px;
  margin-right: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: relative;
}

.sub-nav__btn a {
  padding-top: 11px;
  padding-bottom: 34px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.sub-nav__btn::before {
  position: absolute;
  content: "";
  bottom: 15%;
  right: 47%;
  width: 10px;
  height: 10px;
  -webkit-mask-position: center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: url('../../../img/sub-buttom-arrow.svg');
  mask-image: url('../../../img/sub-buttom-arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #4282B8;
}

.sub-nav__btn:hover {
  background: #4282B8;
  color: #fff;
}

.sub-nav__btn:hover::before {
  background-image: url('../../../img/sub-buttom-arrow.svg');
  background: #fff;
}

.sub-nav__btn--wide a {
  padding-left: 20px;
  padding-right: 20px;
}

.sub-about__section-heading {
  font-size: 24px;
  font-weight: 700;
  margin-top: 80px;
}

.sub-about__vision {
  margin-top: 64px;
  max-width: 923px;
  width: 100%;
}

.sub-about__vision img {
  max-width: 923px;
  width: 100%;
}

.sub-about__history {
  padding-right: 20px;
}

.sub-about__history-group {
  display: flex;
  gap: 14%;
  margin-top: 64px;
}

.sub-about__history-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  max-width: 465px;
  width: 100%;
}

.sub-about__ceo {
  max-width: 331px;
  width: 100%;
}

.sub-about__ceo img {
  width: 100%;
}

.sub-about__ceo-role {
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
}

.sub-about__ceo-name {
  font-size: 32px;
  font-weight: 700;
  margin-top: 24px;
  color: #4282B8;
}

.sub-about__table {
  margin-top: 58px;
  max-width: 953px;
  width: 100%;
}

.sub-about__table-row {
  display: flex;
  padding-top: 30px;
  padding-bottom: 29px;
  border-bottom: 1px solid #B1C6DC;
}

.sub-about__table-label {
  display: inline-block;
  width: 20%;
}

.sub-about__table-value {
  font-weight: 400;
  text-align: left;
  margin-left: 50px;
}

.sub-about__table-value br {
  display: none;
}

.sub-about__safety {
  /* safety section wrapper */
}

.sub-about__safety-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 86px;
}

.sub-about__safety-heading--second {
  margin-top: 25px;
}

.sub-about__safety-group {
  display: flex;
  justify-content: space-between;
  max-width: 953px;
  margin-top: 31px;
  gap: 20px;
}

.sub-about__safety-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  max-width: 642px;
  width: 100%;
}

.sub-about__safety-img {
  max-width: 267px;
  max-height: 208px;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.sub-about__safety-img img {
  width: 100%;
}

.u-br-sp {
  display: none;
}

#sub-about {
  max-width: 1120px;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .sub-about__safety-group {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .sub-nav {
    text-align: center;
  }

  .sub-nav__btn {
    display: block;
    margin: 30px auto 0;
  }
}

@media screen and (max-width: 768px) {
  #sub-about {
    padding-inline: 20px;
  }

  .sub-section__title {
    font-size: 24px;
  }

  .sub-about__intro-group {
    display: block;
    margin-top: 40px;
  }

  .sub-about__intro-group img {
    display: block;
    margin: 20px auto;
    align-items: center;
    max-width: 200px;
    width: 100%;
  }

  .sub-about__text {
    font-size: 16px;
  }

  .sub-about__section-heading {
    margin-top: 30px;
    font-size: 20px;
  }

  .sub-about__vision {
    margin-top: 40px;
  }

  .sub-about__history {
    padding-right: 0;
  }

  .sub-about__history-group {
    display: block;
  }

  .sub-about__history-text {
    max-width: 750px;
    width: 100%;
  }

  .sub-about__ceo {
    margin-top: 30px;
    max-width: 750px;
    width: 100%;
  }

  .sub-about__ceo img {
    width: 100%;
  }

  .sub-about__ceo-role {
    text-align: center;
  }

  .sub-about__ceo-name {
    text-align: center;
  }

  .sub-about__table-row {
    display: block;
  }

  .sub-about__table-label {
    width: 30%;
  }

  .sub-about__table-value {
    margin-left: 0px;
    margin-top: 16px;
    line-height: 1.5;
  }

  .sub-about__safety-heading {
    margin-top: 60px;
  }

  .sub-about__safety-heading--second {
    margin-top: 32px;
  }

  .sub-about__safety-group {
    display: block;
    height: 100%;
    margin-right: 0;
  }

  .sub-about__safety-img {
    max-width: 728px;
    max-height: 100%;
  }

  .sub-about__safety-text {
    max-width: 768px;
    width: 100%;
  }

  .u-br-sp {
    display: inline;
  }
}
