.sub-fv-image {
  width: 80%;

  img {
    border-radius: 50px;
    max-width: 1120px;
    width: 100%;

    @media screen and (max-width:768px) {
      border-radius: 10px;
      height: auto;
    }
  }
}

#sub-about {
  max-width: 1120px;
  width: 100%;

  @media screen and (max-width:768px) {
    padding-inline: 20px;
  }
}

.sub-about-us {
  width: 100%;
  margin-top: 60px;
}

.sub-about-message-img {
  max-width: 156px;
  width: 100%;
}

.sub-about-message-box {
  display: flex;
  align-items: end;
  gap: 12.6%;

  img {
    max-width: 156px;
    width: 100%;

    @media screen and (max-width:768px) {
      display: block;
      margin: 20px auto;
      align-items: center;
      max-width: 200px;
      width: 100%;
    }
  }

  @media screen and (max-width:768px) {
    display: block;
    margin-top: 40px;
  }
}


.sub-about-title {
  font-size: 40px;

  @media screen and (max-width:768px) {
    font-size: 24px;
  }
}

.sub-about-massage-main {
  max-width: 420px;
  width: 100%;

  img {
    max-width: 156px;
    width: 100%;
  }

}

.sub-about-message {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  max-width: 420px;
  margin-top: 40px;

  @media screen and (max-width:768px) {
    font-size: 16px;
  }
}

.sp-only-br {
  display: none;

  @media screen and (max-width: 768px) {
    display: inline;
  }
}

.sub-button {
  margin-top: 64px;

  a {
    padding-top: 11px;
    padding-bottom: 10px;
  }

  @media screen and (max-width: 1024px) {
    text-align: center;
  }

  .button {
    border-radius: 10px;
    text-align: center;
    border: 1px solid #4282B8;
    display: inline-block;
    width: 208px;
    margin-right: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position: relative;

    a {
      padding-top: 11px;
      padding-bottom: 34px;
      padding-left: 20px;
      padding-right: 20px;
      display: block;
    }

    &::before {
      position: absolute;
      content: "";
      bottom: 15%;
      right: 47%;
      width: 10px;
      height: 10px;
      // mask関連の指定
      -webkit-mask-position: center;
      mask-position: center center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-image: url('../../../img/sub-buttom-arrow.svg');
      mask-image: url('../../../img/sub-buttom-arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #4282B8;
    }

    &:hover {
      background: #4282B8;
      color: #fff;

      &::before {
        background-image: url('../../../img/sub-buttom-arrow.svg');
        background: #fff;
      }
    }

    @media screen and (max-width: 768px) {
      display: block;
      margin: 30px auto 0;
    }
  }
}

.sub-about-button a {
  padding-top: 11px;
  padding-bottom: 10px;
  display: block;

}

.works {
  font-size: 24px;
  font-weight: 700;
  margin-top: 80px;

  @media screen and (max-width:768px) {
    margin-top: 30px;
    font-size: 20px;
  }
}


.sub-about-vision {
  margin-top: 64px;
  max-width: 923px;
  width: 100%;

  @media screen and (max-width:768px) {
    margin-top: 40px;
  }

  img {
    max-width: 923px;
    width: 100%;
  }
}

.sub-about-history {
  padding-right: 20px;

  @media screen and (max-width:768px) {
    padding-right: 0;
  }
}

.sub-about-history-box {
  display: flex;
  gap: 14%;
  margin-top: 64px;

  @media screen and (max-width:768px) {
    display: block;
  }
}

.sub-about-history-left {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  max-width: 465px;
  width: 100%;

  @media screen and (max-width:768px) {
    max-width: 750px;
    width: 100%;
  }
}

.sub-about-ceo {
  max-width: 331px;
  width: 100%;

  img {
    width: 100%;
  }

  @media screen and (max-width:768px) {
    margin-top: 30px;
    max-width: 750px;
    width: 100%;

    img {
      width: 100%;
    }
  }

}

.ceo {
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;

  @media screen and (max-width:768px) {
    text-align: center;
  }
}

.ceo-name {
  font-size: 32px;
  font-weight: 700;
  margin-top: 24px;
  color: #4282B8;

  @media screen and (max-width:768px) {
    text-align: center;
  }
}

.sub-about-list {
  margin-top: 58px;
  max-width: 953px;
  width: 100%;
}

.sub-about-index {
  display: flex;
  padding-top: 30px;
  padding-bottom: 29px;
  border-bottom: 1px solid #B1C6DC;

  @media screen and (max-width:768px) {
    display: block;
  }
}

.sub-about-works-main {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 86px;

  @media screen and (max-width:768px) {
    margin-top: 60px;
  }

  &.works-main2 {
    margin-top: 25px;

    @media screen and (max-width:768px) {
      margin-top: 32px;
    }
  }
}

.sub-about-works-item {
  font-size: 16px;
  font-weight: 400;
}

.index-item {
  display: inline-block;
  width: 20%;

  @media screen and (max-width:768px) {
    width: 30%;
  }
}

.index-name {
  font-weight: 400;
  text-align: left;
  margin-left: 50px;

  @media screen and (max-width:768px) {
    margin-left: 0px;
    margin-top: 16px;
    line-height: 1.5;
  }

  br {
    display: none;
  }
}

.sub-about-works {
  font-size: 32px;

  @media screen and (max-width:768px) {
    font-size: 20px;
  }
}

.sub-about-works-box {
  display: flex;
  justify-content: space-between;
  max-width: 953px;
  margin-top: 31px;
  gap: 20px;

  @media screen and (max-width:768px) {
    display: block;
    height: 100%;
  }
}

.sub-about-works-img {
  max-width: 267px;
  max-height: 208px;
  object-fit: cover;
  width: 100%;
  height: auto;

  img {
    width: 100%;
  }

  @media screen and (max-width:768px) {
    max-width: 728px;
    max-height: 100%;
  }
}

.sub-about-works-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  max-width: 642px;
  width: 100%;

  @media screen and (max-width:768px) {
    max-width: 768px;
    width: 100%;
  }
}

.works-sec {
  margin-top: 50px;
}

.works-sec2 {
  margin-top: 54px;
}

.sub-contact-group {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 1120px;
  width: 100%;
}

.sub-contact-inner {
  padding-left: 24px;
  padding-bottom: 24px;

  @media screen and (max-width:768px) {
    margin-top: 36px;
  }
}

#sub-contact {
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
  padding-left: 0px;

  @media screen and (max-width:1280px) {
    margin-top: 64px;
  }

  @media screen and (max-width:768px) {
    margin-left: 0;
  }
}

.sub-contact-box {
  margin-top: 48px;
  max-width: 1120px;
  display: flex;

  @media screen and (max-width: 1280px) {
    display: block;
    max-width: 700px;
    width: 100%;
  }
}

.sub-contact-no {
  padding-inline: 31px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
}

.sub-contact-text-tel {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
}

.sub-contact-no-open {
  font-size: 12px;
  margin-top: 2px;
  font-weight: 700;
}

.sub-footer {
  margin-top: 143px;
}

.about-contact-inner {
  margin-top: 190px;
  padding-left: 24px;
  padding-bottom: 24px;

  @media screen and (max-width: 768px) {
    padding-top: 20px;
    padding-left: 0px;
    margin-top: 60px;
  }
}

.about-footer {
  margin-top: 136px;

  @media screen and (max-width: 768px) {
    margin-top: 27px;
  }
}

.about-sec-main-contact {
  margin-top: 32px;
  letter-spacing: -1.6px;
}

.footer-left-add {
  margin-top: 22px;
  font-weight: 400;
  font-size: 18px;
  padding-left: 1px;
  line-height: 0.9;
}

.sub-footer-right-list {
  display: flex;
  margin-top: 23px;
  line-height: 2.1;
  gap: 24px;
}
