.top-contact {
    background-color: #f8f8f8;
}
.contact-inner {
    padding-left: 24px;
    padding-top: 34px;
    padding-bottom: 50px;
    margin-top: 134px;
    
}
.contact-box {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}