#sub-contact {
    margin-top: 65px;
}

.sub-title {
    margin-top: 56px;
}

.sub-contact-message {
    max-width: 422px;
    width: 100%;
}

.sub-contact-box {

    margin-top: 62px;
    max-width: 1120px;
}

.sub-contact-box {
    display: flex;
    gap: 10%;
}

.sub-contact-box-inner {
    max-width: 422px;
    width: 100%;
    text-align: center;
}

.sub-contact-button {
    display: flex;
}

.chart-box {
    display: flex;
}

.chart {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    background-color: #4282B8;
    padding-top: 29px;
    padding-bottom: 13px;
    color: #fff;
    width: 209px;
    text-align: center;
}

.chart2 {
    background-color: #fff;
    color: #4282B8;
    border: #4282B8 1px solid;
    margin-right: 52px;
}

.sub-contact-note {
    font-size: 16px;
    line-height: 1;
}

.sub-contact-tel {
    font-family: Kanit;
    font-weight: 400;
    font-size: 32px;
    margin-top: 29px;
}

.sub-contact-time {
    font-size: 12px;
    margin-top: 14px;
}

.form-aria {
    margin-top: 75px;
}

.thanks-button {
    margin-top: 50px;
    background-color: #4282B8;
    color: #fff;
    border-color: #4282B8;

    &::before {
        background-color: #fff;
    }

    &:hover {
        background: #fff;
        color: #4282B8;
    }
}