
.sub-contact-page-box {
  margin-right: 20px;

  @media screen and (max-width: 768px) {
      margin-left: 20px;
      margin-right: 20px;
  }
}

.sub-contact-img {
  margin-top: 70px;
  max-width: 956px;
  width: 100%;
  img {
      width: 100%;
  }
}

.sub-contact-message-box {
  display: flex;
  align-items: end;
  max-width: 1120px;
  width: 100%;
  gap: 125px;
  margin-top: 70px;

  img {
      max-width: 156px;
      width: 100%; 
    @media screen and (max-width:768px) {
      display: block;
      margin: 20px auto;
      align-items: center;
      max-width: 200px;
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
      display: block;
      margin-top: 40px;
  }
}
.sub-message-img {
  margin-bottom: 23px;
}
.sub-service-message {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  max-width: 420px;
  margin-top: 64px;

  @media screen and (max-width:768px) {
    font-size: 16px;
    text-align: left;
  }
}

.sub-service-massage-main {
  max-width: 420px;
  width: 100%;
}

.sub-service-message-img {
  margin-top: 54px;
  max-width: 165px;
  width: 100%;

  @media screen and (max-width: 768px) {
      margin: 0 auto;
  }
  img {
      width: 100%;
  }
}

.sub-title-box {
  max-width: 1120px;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.sub-title {
  display: inline-block;
  font-size: 32px;
}

.sub-contact-chart-box {
  margin-top: 60px;
  max-width: 1120px;
  display: flex;
  gap: 13.5%;

  @media screen and (max-width: 1280px) {
    display: block;
    max-width: 700px;
    width: 100%;
  }
}

.sub-contact-message {
  margin-top: 64px;
}

.sub-contact-chart-inner {
  text-align: center;
  max-width: 470px;
  width: 100%;
}

.sub-contact-button {
  display: flex;
  width: 100%;
  gap: 12%;
}

.chart {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  background-color: #4282B8;
  padding-top: 26px;
  padding-bottom: 11px;
  max-width: 209px;
  width: 100%;
  text-align: center;
}

.chart-box {
  display: block;
  border: #4282B8 3px solid;
  background-color: #4282B8;
  color: #fff;
  max-width: 209px;
  width: 100%;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 46%;
    right: -30%;
    width: 10px;
    height: 1px;
    border: #4282B8 1px solid;
    width: 57px;
  }
}

.chart-box2 {
  display: block;
  border: #4282B8 3px solid;
  background-color: #fff;
  color: #4282B8;
  max-width: 209px;
  width: 100%;
}

.chart-no {
  font-size: 12px;
  padding-top: 2px;
}

.chart-text {
  margin-top: 12px;
  padding-bottom: 9px;
}

.sub-contact-page-info {
  max-width: 260px;
  width: 100%;

  @media screen and (max-width: 1280px) {
    margin-top: 50px;
  }
}

.sub-contact-page-note {
  font-size: 16px;
  line-height: 1;
}
.sub-contact-page-time {
  font-size: 12px;
  margin-top: 14px;
}

.sub-contact-page-tel {
  margin-top: 30px;
  font-size: 32px;
  font-family: Kanit;
  font-weight: 400;
}
.contact-contact-inner {
  margin-top: 73px;
  padding-left: 25px;

  @media screen and (max-width: 768px) {
    padding-bottom: 20px;
  }
}

.sub-contact-access {
  margin-top: 43px;
}

.sub-contact-tel {
  font-family: Kanit;
  font-weight: 400;
  font-size: 32px;
  margin-top: 29px;

  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }

  @media screen and (max-width:1280px) {
    a[href*="tel:"] {
      pointer-events: all;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.sub-contact-text-tel {
  margin-left: 1px;
}

.sub-footer {
  margin-top: 143px;
  @media screen and (max-width:768px) {
    margin-top: 60px;
  }
}
.sub-contact-footer {
  margin-top: 114px;
}

#form {
  margin-top: 63px;
  text-align: left;
}

.sub-message-img {
  @media screen and (max-width:768px) {
    width: 100%;
    padding-top: 30px;
  }
}

.contact-name-sec {
  display: flex;
  gap: 40px;
  max-width: 470px;
  width: 100%;
}

.contact-name-field {
  max-width: 216px;
  width: 100%;
}

.form-radio {
  display: block;
}

.label {
  display: inline-block;
  margin-top: 26px;
}

#first_name {
  margin-top: 40px;
}

.input {
  display: block;
  margin-top: 26px;
  padding: 18px 30px 18px 18px;
  border: #B1C6DC solid 1px;
  background-color: #F8F8F8;
  max-width: 470px;
  width: 100%;
  color: #000;
}

.input-name {
  margin-top: 24px;
  padding: 18px 40px 18px 18px;
  border: #B1C6DC solid 1px;
  max-width: 216px;
  width: 100%;
  background-color: #F8F8F8;
  color: #000;
}

input::placeholder {
  color: #C2C2C2;
}

.input-text,
.input-email,
.input-radio,
.input-submit {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-text:focus,
.input-email:focus {
  outline: 2px solid #3498db;
  outline-offset: 0;
}

.check-test {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.check-label {
  position: relative;
  display: inline-block;
  padding-left: 26px;
  cursor: pointer;
  margin-top: 14px;
}

.check-label2 {
  margin-top: 21px;
  padding-left: 0;
  margin-left: 68px;
  font-weight: 400;

  @media screen and (max-width: 1024px) {
    margin-left: 0px;
  }
}

.check-box {
  position: relative;
  display: inline-block;
  padding-left: 3px;
  cursor: pointer;
}

.check-label-span2::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #4282B8;
  border-radius: 2px;
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);

}

/* Custom Checkbox Design */
.check-label-span::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #4282B8;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}


// ラジオボタンの内側の丸印
.check-test:checked+.check-label-span::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4282B8;
  border: solid #4282B8;
  position: absolute;
  top: 3px;
  left: 4px;
}

.check-box:checked+.check-label-span2::after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%) rotate(45deg);
}

.star {
  color: #FE0000;
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
}

.required {
  color: #000;
  font-size: 12px;
}



// button
.input-submit {
  margin: 70px auto 0 auto;
  display: block;
  padding: 20px 110px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border-radius: 10px;
  border: 1px solid #4282B8;
  background-color: #4282B8;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  
  &::span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
  }

  &:hover {
    background:#4282B8;
    color: #fff;
  }
}

.input-submit:hover::before {
  background-color: #1355d8;
}


#js-submit:disabled {
  background-color: #ccc !important;
  color: #fff !important;
  cursor: not-allowed;
  text-align: center;
}
.sub-text-tel {
  margin-left: 0px;
}
.btn-wrapper {
  position: relative;
  display: block; 
  max-width: 286px;
  margin: 0 auto;
}

.btn-wrapper::after {
  position: absolute;
	content: "";
  background-image:url(/img/contact/Ellipse\ 15.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 21px;
}
