.footer {
    margin-top: 124px;
    max-width: 1160px;
    width: 100%;

}
.footer-inner {
    width: 100%;
    height: auto;
    display: flex;
}
.footer-left {
    width: 60%;
}
.footer-left-img { 
    width: 222px;
    height: 133px;
    transition: 0.4s;  
    
    & img {
        width: 100%;
        height: 100%;
    }

    &:hover {
        opacity: 0.6;
    }
}

.footer-left-add {
    margin-top: 20px;
}
.footer-right {
    width: 66%;
    margin-top: 7px;
}
.footer-menu {
    line-height: 3.4;

    & span {
        margin-left: 16px;
    }
}
.footer-menu-list {
    transition: .6s;

    &:hover {
        opacity: .5;
    }
}

.footer-left-add-text {
    margin-top: 31px;
    margin-bottom: 47px;
    line-height: 2;
    font-weight: 400;

    & span {
        padding-left: 13px;
    }

}
small {
    margin-right: 61px;
    font-size: 80%;
    display: block;
    margin-top: 92px;
    text-align: right;

}
.footer-menu-contact {
    position: relative;
    display: inline-block;
    padding-left: 34px;
    transition: .6s;

    &::before {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        background-image: url(../img/mail-icon.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-top: 20px;
        margin-left: -24px;
    }

    &:hover {
        opacity: .5;
    }
}
