.footer {
    margin-top: 114px;
    margin-bottom: 30px;
    width: 100%;
    @media screen and (max-width: 768px) {
        margin-top: 0;
        margin-right: 54px;
    }
}

.footer-inner {
    width: 100%;
    height: auto;
    display: flex;
    @media screen and (max-width: 1380px) {
        display: block;
    } 
}

.footer-left {
    width: 41%;
    margin-top: 6px;

    @media screen and (max-width: 1380px) {
        width: 100%;
    }

    @media screen and (max-width: 1024px) {
        text-align: center;
        width: 100%;
        margin-top: 36px;
    }
    @media screen and (max-width: 768px) {
        margin-top: 24px;
    }
}

.footer-left-add {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 0.9;

    @media screen and (max-width: 1024px) {
        margin-top: 36px;
    }
}

.footer-left-box {
    display: flex;
    gap: 17px;
    font-weight: 400;
    font-size: 20px;
    line-height: 0.85;

    @media screen and (max-width: 1024px) {
        justify-content: center;
    }
}

.footer-left-box-first {
    @media screen and (max-width: 1024px) {
        display: block;
    }
}

.footer-left-add-menu {
    margin-top: 18px;
    font-weight: 400;
    font-size: 16px;

    @media screen and (max-width: 1024px) {
        font-size: 12px;
    }
}

.footer-left-add-item {
    margin-top: 18px;
    font-size: 16px;

    @media screen and (max-width: 1024px) {
        font-size: 12px;
    }
}

.footer-left-img {
    width: 222px;
    height: 133px;
    transition: 0.4s;

    img {
        width: 100%;
        height: 100%;
    }

    &:hover {
        opacity: 0.6;
    }

    @media screen and (max-width: 1024px) {
        width: 100%;
        text-align: center;
    }
}

.footer-right {
    margin-left: 75px;

    @media screen and (max-width: 1380px) {
        width: 100%;
        margin-left: 0;
        font-size: 16px;
    }

    @media screen and (max-width: 1024px) {
        width: 100%;
        text-align: center;
        margin-top: 66px;
        margin-left: auto;
    }
}

.footer-right-list {
    display: flex;
    margin-top: 20px;
    line-height: 2.2;
    gap: 24px;

    @media screen and (max-width: 1024px) {
        display: block;
        margin: 0 auto;
        line-height: 1;
        margin-top: 33px;
    }

}

.footer-menu-item {
    transition: .3s;
    display: inline-block;

    &:hover {
        opacity: .5;
    }

    @media screen and (max-width: 1024px) {
        display: block;
        margin: 33px auto 0;
    }
}
.foter-date {
    margin-top: 19px;
}
.footer-menu-contact {
    position: relative;
    display: flex;
    padding-left: 27px;
    transition: .3s;

    &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        background-image: url(../img/mail-icon.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        left: -1px;
        top: 17%;
    }

    &:hover {
        opacity: .5;
    }

    @media screen and (max-width: 1024px) {
        margin: 27px auto 0;
        max-width: 150px;

        &::before {
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            background-image: url(../img/mail-icon.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            left: 0px;
            top: -11%;
        }
    }

}

small {
    margin-top: 5px;
    margin-right: 68px;
    display: block;
    font-weight: 400;
    text-align: right;

    @media screen and (max-width: 1024px) {
        text-align: center;
        font-weight: 400;
        margin-top: 58px;
        margin-right: 0;
    }
}