    .content {
        max-width: 1440px;
        width: 100%;
    }
    
    .side-header {
        padding-left: 40px;
        padding-right: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 280px;
        height: 100%;
    }
    .side-inner {
        width: 100%;
        padding: 0 40px;        
    }
    .side-header-logo {
        margin-top: 75px;
        width: 100%;
        height: 121px;
    }
   
    