
.sp_header_menu {
    display: none;
    width: ;
}

.contents .contents hidden{
    max-width: 1440px;
    width: 100%;
    display: flex;
    
}
.side {
    width: 280px;
    height: auto;
}
.side-header {
    position: fixed;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    max-width: 280px;
    height: 100%;
}
.side-header-logo {
    width: 280px;
    margin-top: 75px;
}
.header-nav {
    margin-top: 25px;
    transition: all 0.3s ease 0s;
}
.header-nav-list {
    font-size: 20px;
    font-weight: 700;
}
.header_nav_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.header-nav-item {
    display: inline-block;
    position: relative;

    &.contact::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-image: url(../../img/mail-icon.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
}

.header-nav-main {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #B1C6DC;
  width: 200px;
  padding-top: 24px;
  padding-bottom: 24px;
  
}

.header-nav-drop {
    width: 100%;
    position: absolute;
    background: #fff;
    font-size: 16px;
    opacity: 0;
}
.header-nav-drop a {
    padding-top: 32px;
    text-align: center;
    color: #000;
    font-weight: 700;
    opacity: .3;
}
.header-nav-drop a:hover {
    opacity: .4;
}
.header-nav-box:hover {
    opacity: .5;
}

.header-nav-drop:nth-child(3) {
    margin-bottom: 32px;
}
.header_nav_box {
    display: flex;
}
.header-nav-drop-link {
    display: inline-block;
    padding-top: 24px;
}


.header-nav-drop-bar1 {
    position: absolute;
    width: 24px;
    height: 1px;
    top: 256px;
    right: 40px;
    transform: translateY(-50%);
    background: #4282B8;
    cursor: pointer;
  }
  
.header-nav-drop-bar2 {
    position: absolute;
    width: 1px;
    height: 24px;
    top: 243px;
    left: 228px;
    transform: translateX(-50%);
    transition: all 0.3s;
    background: #4282B8;
    cursor: pointer;
  }
  
.header-nav-drop-bar3 {
    position: absolute;
    width: 24px;
    height: 1px;
    top: 324px;
    right: 40px;
    transform: translateY(-50%);
    background: #4282B8;
    cursor: pointer;
  }
  
.header-nav-drop-bar4 {
    position: absolute;
    width: 1px;
    height: 24px;
    top: 312px;
    left: 228px;
    transform: translateX(-50%);
    transition: all 0.3s;
    background: #4282B8;
    cursor: pointer;
  }
.header-nav-main:hover  {
    opacity: 1;
   
  }
.header-nav-item:hover   {
    display: block;
    left: 11px;
    
  }
.header-nav—drop-bar2:hover {
    transform: rotate(90deg);
  }

.header-nav-drop:hover {
    opacity: .9;
  }
   
.header-nav {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main {
    max-width: 1120px;
    width: 100%;
}
.fv {
    width: 100%;
    vertical-align: middle;
    position: fixed;
    height: 727px;
    margin-bottom: 186px;

    & {
      content: "";
      display: block;
      width: 70%;
      height: 70%;
      background-color: #4282B8;
      position: absolute;
      top:0px;
      right: 0px;
      z-index: -1;
    }
    }

.fv-inner {
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 40px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    width: 100%;
    height: 873px;
}
.fv-bg {
    width: 100%;
    height: auto;
    margin: 0;
}
.fv-bg img {
    width: 100%;
    margin: 0;
}
.fv-img p {
    width: 540px;
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
    color: #000;
    left: 450px;
    top: 100%;
    padding-top: 40px;
    position: absolute;
  }
  .fv-img h2 {
    font-size: 64px;
    // font-size: clamp(1.5rem, 0.62rem + 3.76vw, 4rem);
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 13px 14px;
    position: absolute;
    top: 650px;
    left: 450px;
    width: 540px;
    border-radius: 10px;
    transition: opacity 0.5s; 
  }
  .sp_menu {
    display: none;
  }
  
 