* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
  }

body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #000;
    overflow-x: hidden;
}
nav {
    list-style: none;
  }
.sp_header_menu {
    display: none;
}

.content {
    max-width: 1440px;
    width: 100%;
    display: flex;
    
}
.side {
    width: 280px;
    height: auto;
}
.side-header {
    position: fixed;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
    max-width: 280px;
    height: 100%;
}
.side-header-logo {
    width: 280px;
    margin-top: 75px;
}
.header-nav {
    margin-top: 25px;
}
.header-nav-list {
    font-size: 20px;
    font-weight: 700;
}
.header_nav_box {
    display: flex;
}
.header-nav-item {
    display: inline-block;
}  
.header-nav-main {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #B1C6DC;
  width: 200px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav-drop {
    width: 100%;
    position: absolute;
    background: #fff;
    font-size: 16px;
    opacity: 0;
}
.header-nav-drop a {
    padding-top: 32px;
    text-align: center;
    color: #000;
    font-weight: 700;
}
.header-nav-drop a:hover {
    opacity: .4;
}
.header-nav-box:hover {
    opacity: .5;
}

.header-nav-drop:nth-child(3) {
    margin-bottom: 32px;
}
.header_nav_box {
    display: flex;
}
.header-nav-drop-link {
    display: inline-block;
    padding-top: 24px;
}


.header-nav-drop-bar1 {
    position: absolute;
    width: 24px;
    height: 1px;
    top: 256px;
    right: 40px;
    transform: translateY(-50%);
    background: #4282B8;
  }
  
  .header-nav-drop-bar2 {
    position: absolute;
    width: 1px;
    height: 24px;
    top: 243px;
    left: 228px;
    transform: translateX(-50%);
    transition: all 0.3s;
    background: #4282B8;
  }
  
  .header-nav-drop-bar3 {
    position: absolute;
    width: 24px;
    height: 1px;
    top: 324px;
    right: 40px;
    transform: translateY(-50%);
    background: #4282B8;
  }
  
  .header-nav-drop-bar4 {
    position: absolute;
    width: 1px;
    height: 24px;
    top: 312px;
    left: 228px;
    transform: translateX(-50%);
    transition: all 0.3s;
    background: #4282B8;
  }
.main {
    max-width: 1120px;
    width: 100%;
}
.fv {
    width: 100%;
    vertical-align: middle;
    position: fixed;
    height: 727px;
    margin-bottom: 186px;
    background: linear-gradient(to right, #fff 433px, #4282B8 433px);
    }

.fv-inner {
    padding-top: 40px;
    padding-left: 0px;
    margin: 0 auto;
    box-sizing: border-box;
}
.fv-bg {
    max-width: 1120px;
    width: 100%;
    height: auto;
    margin: 0;
}
.fv-bg img {
    width: 100%;
    margin: 0;
}
.fv-img p {
    width: 540px;
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
    color: #000;
    left: 450px;
    top: 100%;
    padding-top: 40px;

  }
  .fv-img h2 {
    font-size: 64px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 13px 14px;
    position: absolute;
    top: 90%;
    left: 450px;
    width: 540px;
    border-radius: 10px;
    transition: opacity 0.5s ease; 
  }
  .sp_menu {
    display: none;
  }
  
 