.is-hidden {
  display: none;
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 900;
  display: grid;
  place-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.loading__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading--active {
  display: grid;
  opacity: 1;
  transition: opacity 0.5s ease;
}

@media (scripting: none) {
  .loading {
    display: none;
  }

  .is-hidden {
    display: block;
  }
}
