.hidden {
    display: none;
  }
  .loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 900;
    display: grid;
    place-content: center;
    opacity: 0; /* 初期状態は透明にする */
    transition: opacity 0.5s ease; /* アニメーションを適用 */
    pointer-events: none; /* 背後のコンテンツにマウスイベントが影響しないようにする */
  }
  .loading.active {
    display: grid;
    opacity: 1;
    transition: opacity 0.5s ease; /* アニメーションを適用 */
  }
  
  /* JS が無効なときのスタイル */
  @media (scripting: none) {
    .loading {
      display: none;
    }
    .hidden {
      display: block;
    }
  }

  