.slider {
  width: 100%;
  margin-top: 76px;
  background-color: #f8f8f8;
  padding-top: 5.5%;
  padding-bottom: 6%;
}

.swiper-wrapper {
  width: 100%;
  display: flex;
  transition-timing-function: linear !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .slider {
    padding-top: 3.5%;
    padding-bottom: 15%;
  }
}
