/* 写真無限スライダー */

.slider {
  width: 100%;
  margin-top: 80px;
  background-color: #f8f8f8;
  padding-top: 4.9%;
  padding-bottom: 5.6%;

  @media screen and (max-width: 768px) {
    padding-top: 2.5%;
    padding-bottom: 15%;
  }
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    display: block;
  }

}

.swiper-wrapper {
  display: flex;
  transition-timing-function: linear !important;
}