/* 写真無限スライダー */

.slider {
    width: 100%;
    margin-top: 80px;
    background-color: #f8f8f8;
    height: 486px;
    padding-top: 63px;
    padding-bottom: 63px;
}

.slider-wrapper {
    width: 100%;
    height: 100%; 
}

.swiper {
  width: 100%;
  height: 100%;
  }
.swiper-slide {
  width: 360px !important;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
 
  .swiper-wrapper {
    display: flex;
    transition-timing-function: linear;
  }
  
  @media screen and (max-width:1024px) {
    .slider {
        margin-left: 10px;
    }    
  }