
  .modal-close-bar {
    position: absolute;
    
  }
  .modal-close-bar span {
    position: relative;
    width: 32px;
    height: 2px;
    background: black;
    display: block;
  }
  
  .modal-close-bar span:nth-child(1) {
    transform: rotate(45deg);
  }
  
  .modal-close-bar span:nth-child(2) {
    transform: rotate(-45deg);
  }
  .modal-item {
    margin-top: 1%;
    margin-left: 9%;
  }

  .top-news-name-box {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 14px;
  }
  
  .modal-close__wrap {
    position: absolute;
    right: 40px;
    top: 20px;
  }

  .overlay .open {
    display: block;
  }
  .modal .open {
    display: block;
  }
  .modal-news {
    font-size: 24px;
    text-align: left;
    line-height: 1.8;
  }
  .modal-message {
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
    text-align: left;
  }



  /* 開くボタン */
.button-open {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color:#fff;
  color: #000;
  cursor: pointer;
  border: none;
}
/* モーダルウィンドウ */
.modal-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  border-radius: 5px;
  z-index: 11;
  padding: 2rem;
  
}
/* 閉じるボタン */
.button-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  background-color:#fff;
  color: #000;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
/* オーバーレイ */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
}

