.top-news-inner {
    width: 100%;
    margin-left: 0;
    max-width: 1120px;

}
.top-news-box {
    font-weight: 700;
    font-size: 16px;
    color: #000;
    line-height: 180%;
    margin-top: 44px;
}
.top-news-menu {
    color: #4282B8;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #4282B8;
    width: 116px;
    text-align: center;
    margin-top: 32px;
}
.top-news-list {
    border-top: 1px solid #4282B8;
}
.top-news-item {
    margin-top: 13px;
    padding-bottom: 22px;
    border-bottom: 1px solid #4282B8;
}