.top-news-inner {
    width: 100%;
    margin-left: 0;
    max-width: 1120px;

}
.top-news-box {
    font-weight: 700;
    font-size: 16px;
    color: #000;
    line-height: 180%;
    margin-top: 44px;
}
.top-news-name {
    display: flex;
    color: #4282B8;
}
.top-news-menu {
    color: #4282B8;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #4282B8;
    width: 116px;
    text-align: center;
    margin-top: 32px;
    height: 26px;
}
.top-news-list {
    display: block;
    border-top: 1px solid #4282B8;
    position: relative;
    transition: .6s;

    &:hover {
        opacity: .6;
    }

    &::after {
        content: "";
        display: block;
        top: 51%;
        left: 96%;
        width: 2%;
        height: 16%;
        position: absolute;
        background-image: url(../img/arrow-icon-right.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
}
.top-news-date {
    color: #4282B8;
    font-size: 14px;
    font-weight: 700;
    margin-left: 20px;
    display: inline;
    margin-top: 30px;
}


.top-news-list:nth-last-child(1) {
    border-bottom: 1px solid #4282B8;
}

.top-news-item {
    margin-top: 14px;
    margin-bottom: 25px;
}