* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
  }

body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #000;
    font-weight: 700;
}
nav {
    list-style: none;
  }

.main {
  margin-left: 280px;
  height: auto;

  @media screen and (max-width: 1024px){
    width: 100%;
    margin-left: 0;
    padding-left: 20px;
      
  }
}
