
  .modal-close-bar {
    position: absolute;
    top: 2%;
    right: 5%;
    z-index: 200;
  }
  .modal-close-bar span {
    position: absolute;
    width: 32px;
    height: 4px;
    background: #fff;
    display: block;
    margin-left: 0;
    z-index: 200;
  }
  
  .modal-close-bar span:nth-child(1) {
    transform: rotate(43deg);
    top: 3px;
    right: -3%;
  }
  
  .modal-close-bar span:nth-child(2) {
    transform: rotate(-45deg);
  }
  .modal-item {
    display: flex;
    gap: 16px;
    color:#4282B8 ;
    font-size: 14px;
  }
  .modal-menu {
    border: #4282B8 1px solid;
    padding-inline: 16px;
  }
  .modal-inner {
    width: 100%;
    height: auto;
    padding-inline: 11.8%;
    padding-top: 16px;
    padding-bottom: 4%;
  }
 
  .overlay.open {
    display: block;
  }
  .modal-window.open {
    display: block;
  }
  .modal-news {
    font-size: 24px;
    text-align: left;
    line-height: 1.8;
    margin-top: 16px;
  }
  .modal-message {
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
    text-align: left;
  }
  .modal-photo {
    margin-top: 16px;
    max-width: 656px;
    max-height: 366px;
    width: 100%;
    height: 100%;
    
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }



  /* 開くボタン */
.button-open {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color:#fff;
  color: #000;
  cursor: pointer;
  border:none;
  border-top: #4282B8 solid 1px;
}

/* モーダルウィンドウ */
.modal-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 860px;
  width: 90%;
  max-height: 90vh; 
  overflow-y: auto;
  background-color: #fff;
  z-index: 100;
  box-sizing: border-box; 
}

/* 閉じるボタン */
.button-close {
  position: static;
  bottom: 2%;
  left: 50%;
  display: flex;
  justify-content: center;
  width: 240px;
  padding: 16px 30px;
  background-color:#fff;
  color: #000;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  border: 0.5px solid #000;
  margin: 20px auto 0;

  &::after {
    position: absolute;
        content: "";
        top:50%;
        transform:translateY(-50%);
        right: 20px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #000 0.5px;
  }
 
}
/* オーバーレイ */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#000;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  z-index: 98;
}


/* 表示領域外へはスクロールさせない */
.no-scroll {
  overflow: hidden;
  height: 100%;
}
