.about-inner {
    width: 100%;
    display: flex;
    position: relative;
}

.top-about-text {
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
    line-height: 1.8;
    width: 57%;
}
.top-about-img img {
    width: 161px;
    height: 213px;
    position: absolute;
    margin-top: -3%;
    right: 12%;
}

@media screen and (max-width: 1024px) {
    .about-inner {
        padding-left: 20px;
        padding-right: 20px;
    }
    
}