#sub-thanks {
  margin-top: 64px;
}

.sub-thanks__flow-step {
  text-align: center;
  display: block;
  border: #4282B8 3px solid;
  background-color: #fff;
  color: #4282B8;
  max-width: 209px;
  width: 100%;
  position: relative;
}

.sub-thanks__flow-step::after {
  position: absolute;
  content: "";
  bottom: 46%;
  right: -30%;
  width: 30%;
  height: 1px;
  border: #4282B8 1px solid;
}

.sub-thanks__flow-step--active {
  text-align: center;
  display: block;
  border: #4282B8 3px solid;
  background-color: #4282B8;
  color: #fff;
  max-width: 209px;
  width: 100%;
}

.sub-thanks__back-btn {
  margin-top: 45px;
}

.sub-thanks__back-btn a {
  display: inline-block;
  margin-inline: auto;
  padding: 22px 70px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  border-radius: 10px;
  border: 1px solid #4282B8;
  background-color: #4282B8;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: relative;
}

.sub-thanks__back-btn a::before {
  position: absolute;
  content: "";
  top: 25px;
  right: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.sub-thanks__back-btn a:hover {
  background: #fff;
  color: #4282B8;
}

.sub-thanks__back-btn a:hover::before {
  background-color: #4282B8;
}

@media screen and (max-width: 1280px) {
  .sub-thanks__back-btn a {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .sub-thanks__back-btn a {
    margin-left: 20px;
  }
}
