
.fv {
    width: 100%;
    vertical-align: middle;
    position: absolute;
    height: 727px;
    margin-bottom: 186px;
  }
  
  @media screen and (max-width:1024px) {
    .fv {
      margin-top: 102px;
    }
  }
  
  .fv-inner {
    padding-top: 40px;
    padding-left: 280px;
    padding-right: 40px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    width: 100%;
    height: 873px;
    position: relative;
  }
  
  @media screen and (max-width:1024px) {
    .fv-inner {
      padding-top: 40px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  .fv-inner::before {
    content: "";
    display: block;
    width: 50.4vw;
    aspect-ratio: 1 / 1;
    background: #4282B8;
    position: absolute;
    top: -40px;
    right: -40px;
    z-index: -1;
  }
  
  @media screen and (max-width:1024px) {
    .fv-inner::before {
      display: none;
    }
  }
  
  .fv-bg {
    width: 100%;
    height: auto;
    margin: 0;
    object-fit: cover;
    object-position: center;
  }
  @media screen and (max-width:375) {
    .fv-bg {
       max-width: 375px;
        width: 100%;
    }  
  }
  
  
  .fv-bg img {
    width: 100%;
    margin: 0;
  }
  
  .fv-img p {
    width: 540px;
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
    color: #000;
    margin-top: 40px;
    position: absolute;
  }
  
  .fv-img h2 {
    display: inline-block;
    font-size: 64px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 13px 14px;
    border-radius: 10px;
    transition: opacity 0.5s;
  }
  @media screen and (max-width:1024px) {
  
  }
  
  @media screen and (max-width: 767px) {
    .fv-img h2 {
      width: 218px;
      font-size: 24px;
      padding: 20px 10px;
    }
  
    .fv-img p {
      width: 430px;
      font-size: 12px;
      padding-top: 22px;
    }
  }
