
.fv {
    width: 100%;
    vertical-align: middle;
    height: 100%;
  }
  
  @media screen and (max-width:1024px) {
    .fv {
      margin-top: 102px;
    }
  }
  
  .fv-inner {
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 53vw;
      aspect-ratio: 1 / 1;
      background: #4282B8;
      position: absolute;
      top: -40px;
      right: -40px;
      z-index: -1;
    }
  }
  
  @media screen and (max-width:1024px) {
    .fv-inner {
      padding-top: 40px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
 
  @media screen and (max-width:1024px) {
    .fv-inner::before {
      display: none;
    }
  }
  
  .fv-bg {
    width: 100%;
    height: auto;
    margin: 0;
    object-fit: cover;
    object-position: center;
    position: relative;
  }
  @media screen and (max-width:375) {
    .fv-bg {
      max-width: 375px;
      width: 100%;
    }  
  }
  

  .fv-bg img {
    width: 100%;
    margin: 0;
  }

  .fv-scrolldown {
    color: #4282B8;
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    top: 91.5%;
    left: 1.4%;
  }

  .fv-scrolldown::after {
    position: absolute;
    content: "";
    top: 21px;
    left: 23px;
    width: 1px;
    height: 108px;
    opacity: 1;
    background: #4282B8;
    animation:fv-scrolldown 1.4s ease-in-out 0s infinite normal none running;
  }
  .fv-message {
    width: 100%;
    width: calc((600 / 1440) * 100vw);
    position: absolute;
    top: 70%;
    left: 40%;
  }
 
  .fv-message-main {
    display: inline-block;
    font-size: calc((64 / 1440 ) * 100vw);
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 13px 14px;
    border-radius: 10px;
    transition: opacity 0.5s;
  }
  .fv-message-sub{
    width: 100%;
    font-size: 16px;
    font-size: calc((16 / 1440 ) * 100vw);
    font-weight: 700;
    line-height: 2;
    color: #000;
    margin-top: 20px;
  }
 
  @media screen and (max-width:1024px) {
    .fv-message {
      width: 100%;
      width: calc((600 / 1024) * 100vw);
      position: absolute;
      top: 70%;
      left: 33%;
    }

    .fv-message-main {
      color: #000;
      background-color: #fff;
      padding: 13px 14px;
      border-radius: 10px;
      transition: opacity 0.5s;
    }

    .fv-message-sub{
      line-height: 2;
      color: #000;
      margin-top: 20px;
      position: absolute;
    }   
  }
  
  @media screen and (max-width: 767px) {
    .fv-message {
      width: 100%;
      width: calc((720 / 767) * 100vw);
      position: absolute;
      top: 70%;
      left: 3%;
    }
    .fv-message-main {
      padding: 20px 10px;
    }
  
    .fv-message-sub {
      font-size: 12px;
      margin-top: 20px;
      width: 100%;
    }
  }


  @keyframes fadeーup {
    0% {
       opacity: 0;
       transform: translateY(20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
  }
  .js-trigger-up .fade-up {
    animation-fill-mode: forwards;
    animation-name: fade-up;
  }