.sp_header_menu {
  display: none;
}

.sp_menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .sp_header_menu {
    display: block;
  }

  .sp_header_main {
    display: flex;
  }
  
  .sp_menu {
    background-color: #4282b8;
    color: #fff;
    width: 56px;
    height: 56px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    transition: all 0.3s;
    align-items: center;
    justify-content: center;
  }

  .sp_menu:hover {
    opacity: 0.7;
  }

  /* ハンバーガーの３本線 */
  .sp_menu span {
    display: block;
    transition: all .3s;
    top: 12px;
    left: 25%;
    width: 32px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
  }

  .sp_menu_icon span:nth-of-type(2) {
    margin-top: 12px;
  }

  .sp_menu_icon span:nth-of-type(3) {
    margin-top: 12px;
  }

  /* menuクラスがactiveの時のコード*/
  .sp_menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
  }
  .sp_menu.active span:nth-child(2) {
    opacity: 0;
  }
  .sp_menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }

  .drawer_nav.active {
    display: block;
    opacity: 1;
  }
}
