.slider {
    position: relative;
}

.slide-message {
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    background-color: #f8f8f8;
    gap: 12px;
    position: absolute;
    top: 53%;
    right: 15%;
    padding-left: 47px;
    padding-right: 45px;
    z-index: 10;
}

.slide-message-text {
    font-size: 40px;
    font-weight: 700;
    font-family: Zen Kaku Gothic New;
    letter-spacing: 0.5em;
    color: #4282B8;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;

    & span {
        color: #000;
        font-family: Zen Kaku Gothic New;
    }
}

// .slide-message-text2 {
//     font-size: 40px;
//     font-weight: 700;
//     font-family: Zen Kaku Gothic New;
//     letter-spacing: 0.2em;
//     writing-mode: vertical-rl;
//     text-orientation: upright;
//     padding-top: 24px;
//     color: #000;
// }