.slide-ms {
    width: 100%;
    height: auto;
}
.slide-ms p {
    font-size: 40px;
    font-weight: 700;
    font-family: Zen Kaku Gothic New;
    line-height: 150%;
    writing-mode: vertical-rl;
    text-orientation: upright;
}