.sub-service-box {
    margin-right: 20px;

    @media screen and (max-width: 768px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.sub-service-img {
    margin-top: 75px;
    max-width: 956px;
    width: 100%;
    img {
        width: 100%;
    }
}
.service2-img , .service3-img{
    margin-top: 68px;
}

.sub-service-message-box {
    display: flex;
    align-items: end;
    max-width: 1120px;
    width: 100%;
    gap: 11%;

    img {
        max-width: 156px;
        width: 100%; 
      @media screen and (max-width:768px) {
        display: block;
        margin: 20px auto;
        align-items: center;
        max-width: 200px;
        width: 100%;
      }
    }
  
    @media screen and (max-width: 768px) {
        display: block;
        margin-top: 40px;
    }
}

.sub-service-message {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    max-width: 420px;
    margin-top: 64px;
  
    @media screen and (max-width:768px) {
      font-size: 16px;
      text-align: left;
    }
  }

.sub-service-massage-main {
    max-width: 420px;
    width: 100%;
  }

.sub-service-message-img {
    margin-top: 54px;
    max-width: 165px;
    width: 100%;

    @media screen and (max-width: 768px) {
        margin: 0 auto;
    }
    img {
        width: 100%;
    }
}

.sub-service-button button {
    margin-right: 24px;
}
.reform-button a {
    padding-left: 20px;
    padding-right: 20px;
}
.sub-service-sec {
    // margin-top: 70px;

    @media screen and (max-width: 768px) {
        margin-top: 100px;
    }
}

.sub-service-inner {
    margin-left: 50px;

    @media screen and (max-width: 1024px) {
        margin-left: 0;
    }

    @media screen and (max-width: 768px) {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
}

.sub-service-title {
    margin-top: 55px;
    font-size: 24px;
    margin-bottom: 39px;
}

.sub-service-read {
    display: flex;
    padding-top: 20px;
    border-top: 1px solid #B1C6DC;
    gap: 40px;

    @media screen and (max-width: 768px) {
        display: block;
        padding-top: 15px;
    }
}

.sub-service-read-left {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.8;
    max-width: 374px;
    width: 100%;

    @media screen and (max-width: 1024px) {
        max-width: 352px;
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        margin-top: 0px;
        max-width: 600px;
        width: 100%;
        font-size: 18px;

    }
}

.sub-service-read-right {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    max-width: 446px;
    width: 100%;

    @media screen and (max-width: 1024px) {
        max-width: 352px;
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        margin-top: 30px;
        max-width: 600px;
        width: 100%;

    }
}

.sub-service-jirei-box {
    display: flex;
    max-width: 1120px;
    width: 100%;
    gap: 5.5%;

    @media screen and (max-width: 1024px) {
        justify-content: center;
    }

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.sub-service-jirei {
    margin-top: 90px;
    max-width: 352px;
    width: 100%;
    display: inline-block;

    &.jirei2 {
        margin-top: 143px;

        @media screen and (max-width: 768px) {
            margin-top: 30px;
        }
    }

    &.jirei3 {
        margin-top: 146px;

        @media screen and (max-width: 768px) {
            margin-top: 30px;
        }
    }

    @media screen and (max-width: 768px) {
        max-width: 500px;
        width: 100%;
        margin-top: 30px;
    }
}

.sub-service-jirei-img {
    display: inline-block;
    margin-top: 20px;
    max-width: 352px;
    width: 100%;

    img {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        max-width: 500px;
        width: 100%;
    }
}

.sub-service-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 16px;
}

.service-contact-inner {
    margin-top: 58px;
    padding-top: 0px;
    padding-left: 22.5px;
    @media screen and (max-width: 768px) {
        padding-top: 20px;
    }
}

.br-sp-none {
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.service-footer {
    margin-top: 120px;
    @media screen and (max-width: 768px) {
        margin-top: 27px;
    }
}