.top-service-inner {
    margin-top: 62px;
    width: 100%;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        background-color: #f8f8f8;
        border-radius: 50px 0 0 50px;
        width: 83%;
        height: 104%;
        right: 0;
        top: 20px;
        z-index: -1;
    }
    @media screen and (max-width: 1024px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.top-service-group {
    margin-left: 0;
    display: flex;
}

.top-service-icon {
    width: 124px;
    height: 174px;
    position: absolute;
    top: 6%;
    left: 74%;
    display: none;

    img {
        width: 100%;
        align-self: 100%;
    }
}

.top-service-main {
    width: 100%;
}

.top-service-box {
    margin-top: 64px;
    width: 100%;
    height: auto;
    display: flex;
}

.box-second {
    flex-direction: row-reverse;  
}

.box-third {
    margin-top: 90px;
    display: flex;
    width: 100%;
}

.top-service-no {
    font-family: kanit;
    font-weight: 700;
    font-size: 168px;
    color: #B1C6DC;
    margin-left: -24px;
    position: relative;
    z-index: -1;
}

.top-service-no2 {
    font-family: kanit;
    font-weight: 700;
    font-size: 168px;
    color: #B1C6DC;
    position: relative;
    left: 63%;
    z-index: -1;
}

.top-service-no3 {
    font-family: kanit;
    font-weight: 700;
    font-size: 168px;
    color: #B1C6DC;
    margin-left: -20px;
    position: relative;
    z-index: -1;
}


.top-service-title {
    font-size: 24px;
    padding: 10px 16px;
    display: inline-block;
    line-height: 100%;
    margin-left: 56px;
    background-color: #fff;

    @media screen and (max-width: 1024px){
        margin-top: 26px;
    }
}

.top-service-title2 {
    margin-left: 0;
    padding: 10px 16px;
    display:inline-block;
    line-height: 100%;
    font-size: 24px;
    margin-left: 5px;
    margin-top: -3;
    background-color: #fff;
}

.top-service-title3 {
    font-size: 24px;
    padding: 10px 16px;
    display: inline-block;
    line-height: 100%;
    margin-left: 56px;
    background-color: #fff;
}

.top-service-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #000;
    margin-top: 47px;
    width: 64%;
    max-width: 100%;
    margin-left: 56px;
}

.top-service-text2 {
    margin-left: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #000;
    width: 86%;
    margin-top: 48px;
}

.top-service-text3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #000;
    margin-top: 47px;
    width: 65%;
    margin-left: 56px;
}

.top-service-img {
    width: 81%;
    max-width: 100%;
    object-fit: contain;

    img {
        width: 100%;
    }
}

.top-service-img2 {
    width: 100%;

    img {
        width: 100%;
    }
}

.top-service-img3 {
    width: 80%;
    object-fit: contain;

    img {
        width: 100%;
    }
}

.top-service-link1 {
    margin-top: 30px;
    margin-left: 56px;
}

.top-service-link2 {
    margin-top: 28px;
    margin-left: 5px;
}

.top-service-link3 {
    margin-top: 30px;
    margin-left: 55px;
}
