.top-service-inner {
    margin-top: 62px;
    width: 100%;
    position: relative;
    padding: 0 20px 0 0;

    &::before {
        content: "";
        display: block;
        position: absolute;
        background-color: #f8f8f8;
        border-radius: 50px 0 0 50px;
        width: 83%;
        height: 104%;
        right: 0;
        top: 20px;
        z-index: -1;

        @media screen and (max-width: 768px) {
            width: 74%;
            height: 105%;
            right: 0;
            top: -24px;
        }
    }

    @media screen and (max-width: 1024px) {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 76px;
    }
}

.top-service-group {
    margin-left: 0;
    display: flex;
}

.top-service-icon {
    max-width: 124px;
    height: auto;
    position: absolute;
    top: 6%;
    left: 74%;

    @media screen and (max-width: 1024px) {
        width: 20%;
        height: auto;
        top: -3%;
        left: 77%;
    }

    @media screen and (max-width: 375px) {
        width: 68px;
        height: 156px;
    }

    img {
        width: 100%;
        align-self: 100%;
    }
}

.top-service-main {
    width: 100%;

    &--left {
        max-width: 490px;
        width: 100%;
    }
    @media screen and (max-width: 1024px) {
        max-width: 490px;
        width: 100%;
    }   
}



// serviceーbox共通の指示
.top-service-box {
    margin-top: 68px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 56px;
    position: relative;

    @media screen and (max-width: 1024px) {
        margin-top: 24px;
        flex-direction: column;
        gap: 24px;
        position: static;
    }
    @media screen and (max-width: 768px) {
        margin-top: 24px;
        gap: 0;
    }

    &--reverse {
        flex-direction: row-reverse;
        margin-top: 90px;
        justify-content: flex-end;
        gap: 0;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
            margin-top: 50px;
            margin-left: 0;
        }
    }
}


.top-service-no {
    font-family: kanit;
    font-weight: 700;
    font-size: 168px;
    color: #B1C6DC;
    margin-left: -16px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 45%;

    &--second {
        top: 0;
        left: 28%;
    }

    @media screen and (max-width: 1024px) {
        font-size: 60px;
        margin-left: -20px;
        position: static;
    }

    @media screen and (max-width: 768px) {
        margin-top: 20px;
        font-size: 48px;
        margin-left: -24px;
    }
}


.top-service-title {
    font-size: 24px;
    padding: 10px 16px;
    display: inline-block;
    line-height: 100%;
    background-color: #fff;
    margin-top: 164px;

    @media screen and (max-width: 1024px) {
        margin-top: 26px;
    }

    @media screen and (max-width: 768px) {
        margin-left: 0;
    }
}

.top-service-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #000;
    margin-top: 47px;
    width: 100%;
    max-width: 430px;

    @media screen and (max-width: 768px) {
        width: 100%;
        margin-left: 0;
        margin-top: 14px;
    }
    &--text2 {
        margin-right: 10px;
    }
}


.top-service-link {
    margin-top: 30px;

    @media screen and (max-width: 768px) {
        margin-left: 0;
        margin-top: 27px;
    }
}

.top-service-list {
    display: block;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        margin-left: 0;
        font-size: 24px;
        width: 100%;
        justify-content: space-between;
    }
}


.top-service-img {
    max-width: 516px;
    width: 100%;
    object-fit: contain;

    &--img2 {
        margin-left: 10px;
    }

    img {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

// service-box3の個別指示

.top-service-box3 {
    margin-top: 90px;

    @media screen and (max-width: 375px) {
        margin-top: 50px;
        width: 100%;
    }
}